.aboutUsPage {
    margin-bottom: 0;

    .bannerGradientContainer {
        .bannerGradient {
            background: linear-gradient(to right, #F3F8FD 0%, #F3F8FD 50%, transparent 65%);

            @media only screen and (min-width: 2000px) {
                background: linear-gradient(to right, #f3f8fd 0%, #f3f8fd 60%, transparent 63%)
            }

            @media only screen and (max-width: 1500px) {
                background: linear-gradient(to right, #f3f8fd 0%, #f3f8fd 50%, transparent 60%)
            }
        }

        button {
            width: 220px;
        }
    }

    .advantagesBlock {
        margin: 0 0 50px 0;

        .mainTextHead {
            margin-bottom: 1rem;
        }

        .mainTextParagraph {
            color: $lightGrayColor;
            font-weight: normal;
            padding-bottom: 2rem;
        }
    }

    .advantagesBlockItems {
        margin: 50px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .advantagesItem {
            max-width: 290px;
            min-width: 180px;
            width: auto;
            margin: 10px 0;

            h3 {
                font-weight: 500;
                font-size: 24px;
                line-height: 26px;
            }

            p {
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: $lightGrayColor;
            }

            svg {
                height: 50px;
                width: 50px;
                fill: $mainColor;
                margin-bottom: 28px;
                display: flex;
                align-items: flex-start;
            }
        }
    }

    .reviewsWrapper {
        background-color: $mainBgColor;
        padding: 60px 0;
    }
}
