.alphabetModal {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    background: white;
    justify-content: center;
    align-items: center;

    .alphabetModalBlock {
        display: flex;
    }

    .catalogMenu {
        position: relative;
        width: 100%;
        margin: 14px 0 50px 0;

        ul {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style-type: none;

            li {
                min-width: 15%;
                max-width: 20%;
                padding-bottom: 15px;
            }

            a {
                font-size: 20px;
                color: $tonedBlackColor;


                &:hover {
                    font-weight: bold;
                    color: $mainColor;
                }
            }
        }
    }

    @media only screen and (max-width: 1280px) {
        .catalogMenu {
            ul {
                li {
                    min-width: 20%;
                    max-width: 25%;
                }
                a {
                    font-size: 18px;
                }
            }
        }
    }

    @include mediaQuery(tablet) {
        .catalogMenu {
            ul {
                li {
                    min-width: 25%;
                    max-width: 33%;
                }
            }
        }
    }

    @include mediaQuery(mobile) {
        display: none !important;
    }
}