.breadcrumb {
    .cont {
        display: flex;
        align-items: flex-end;
    }

    ul {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;

        li {
            margin-right: 20px;
            display: inline;

            &.active a {
                color: $mainColor;
            }
        }

        li a {
            color: $lightGrayColor;
            font-size: 20px;
            font-weight: 400;
            text-decoration: none;

            &:hover {
                color: $mainColor;
            }
        }

        svg {
            fill: $lightGrayColor;
            width: 20px;
            height: 20px;
        }
    }

    @include mediaQuery(mobile) {
        padding: 20px 0;
    }
}
