.categoryModal {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    background: $mainColor;
    justify-content: center;
    align-items: center;

    .categoryModalBlock {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding-top: 30px;
        padding-bottom: 31px;
    }

    .firstCategory,
    .secondCategory {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    .categoryCaption {
        font-size: 20px;
        color: white;
    }

    .categoryList {
        display: flex;
        flex-wrap: wrap;

        ul {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            list-style-type: none;

            &:first-of-type {
                margin-right: 50px;
            }

            li {
                margin-bottom: 10px;

                a {
                    font-size: 16px;
                    color: white;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .elseCategories {
        display: flex;
        flex-direction: column;
        list-style-type: none;

        li {
            margin-bottom: 20px;
            margin-right: 20px;
        }
    }
}