.catalogCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 352px;
    min-width: 227px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(95, 91, 97, 0.1);
    border-radius: 8px;
    padding: 27px 30px;
    box-sizing: border-box;
    cursor: pointer;

    @include mediaQuery(tablet) {
        min-width: 227px;
        max-width: 100%;
        padding: 12px 15px;
        margin: 0.4rem;
    }

    @include mediaQuery(mobile) {
        min-width: 300px;
        padding: 20px 23px;
    }

    .catalogCardName {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        margin: 1rem 0;

        @include mediaQuery(tablet) {
            font-size: 24px;
            line-height: 24px;
        }
    }

    .catalogCardPrice {
        margin-bottom: 1rem;
    }
}
