.contactsPage {
    .contactParsGray {
        background: #f4f6f8;
        padding: 4rem 0 3rem 0;

        @media only screen and (max-width: 1200px) {
            padding: 3rem 0 8rem 0;
        }

        .imitation {
            @media only screen and (max-width: 1200px) {
                margin-top: 2rem;
            }
        }

        .blockText {
            display: flex;
            flex-direction: row;

            @media only screen and (max-width: 1200px) {
                flex-direction: column;
            }

            p,
            a {
                color: #757575;
            }

            h3 {
                margin-bottom: 2rem;
            }

            .phoneContainer .phoneElement {
                color: #4e4e4e;
                font-weight: bold;
                font-size: 30px;

                @include mediaQuery(tablet) {
                    font-size: 25px;
                }
            }
        }

        .phoneContainer {
            display: flex;
            justify-content: stretch;
            flex-wrap: wrap;

            @include mediaQuery(tablet) {
                font-size: 30px;
            }

            @include mediaQuery(mobile) {
                flex-direction: column;
            }

            p {
                line-height: initial;
            }

            .circle {
                margin: 0 1rem;

                svg {
                    width: 8px;
                    height: 8px;
                    fill: $mainColor;
                }

                @include mediaQuery(mobile) {
                    display: none;
                }
            }
        }
    }

    .modalWindowContent {
        position: absolute;
        max-width: 735px;
        width: 100%;
        right: 3%;
        top: 5%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: #fff;
        padding: 60px 75px;
        box-shadow: 0 4px 50px rgba(95, 91, 97, 0.1);
        border-radius: 8px;

        @media only screen and (max-width: 1200px) {
            left: 0;
            padding: 30px 45px;
        }

        @include mediaQuery(mobile) {
            flex-direction: column;
            padding: 36px 16px;
        }

        .captcha {
            border: none;
            overflow: hidden;
            margin: 0;
            max-width: 304px;
            width: 100%;
            height: 78px;

            @include mediaQuery(mobile) {

            }
        }

        svg {
            fill: $lightColor;
            width: 100px;
            height: 100px;
            margin: 16px 0;
        }

        h3 {
            font-size: 50px;
            text-align: left;

            @media only screen and (max-width: 460px) {
                font-size: 40px;
            }

            @media only screen and (max-width: 395px) {
                font-size: 35px;
            }
        }

        form {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            .w-100 {
                width: 100%;
            }

            label::before {
                margin-right: 1rem;
            }

            .containerInput {
                width: 100%;
                margin-bottom: 1rem;

                @media only screen and (max-width: 1200px) {
                    display: flex;
                    flex-direction: row;
                }

                @media only screen and (max-width: 716px) {
                    flex-direction: column;
                }
            }

            .containerButton {
                label,
                a {
                    font-size: 14px;
                }

                span {
                    display: inline;
                }

                .modalInputWrapper {
                    width: 60%;
                }

                @media only screen and (max-width: 1200px) {
                    margin-top: 1rem;
                }

                button {
                    margin-right: 4.5rem;

                    @media only screen and (max-width: 716px) {
                        margin-right: 0;
                    }
                }

                #rememberMeLabel {
                    @media only screen and (max-width: 716px) {
                        margin-left: 0;
                        width: 60%;
                    }

                    @media only screen and (max-width: 630px) {
                        width: 100%;
                        font-size: 14px;
                    }
                }

                @media only screen and (max-width: 1200px) {
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-start;
                    width: 100%;
                }

                @media only screen and (max-width: 716px) {
                    flex-direction: column-reverse;
                }
            }

            .modalInputWrapper {
                width: 100%;
                max-width: 100%;
                margin: 10px 0;

                &:first-child,
                &:nth-child(2) {
                    @media only screen and (max-width: 1200px) {
                        width: 50%;
                        margin-right: 1rem;
                    }

                    @media only screen and (max-width: 716px) {
                        width: 100%;
                    }
                }

                label {
                    display: block;
                    color: #7b7b7b;
                }
            }

            a,
            p,
            button {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 18px;
                margin: 8px 0;
                text-align: center;
            }

            a {
                color: $mainGrayColor;
            }

            p {
                color: #000;

                a {
                    color: $mainColor;
                }
            }
        }
    }

    .contactParsWhite {
        display: flex;
        flex-direction: row;
        color: #4e4e4e;

        @media only screen and (max-width: 1200px) {
            flex-direction: column-reverse;
        }

        .imitation {
            @media only screen and (max-width: 1200px) {
                height: 300px;
                width: 100%;
            }

            @media only screen and (max-width: 716px) {
                height: 450px;
                margin-bottom: 2rem;
            }
        }

        .contactParsWhiteContent {
            width: 50%;
            margin: 2.5rem 0 9rem 0;

            @media only screen and (max-width: 1200px) {
                width: 100%;
                margin: 2.5rem 0 5rem 0;
            }

            @include mediaQuery(tablet) {
                margin: 2.5rem 0 3rem 0;
            }

            @media only screen and (max-width: 716px) {
                display: none;
            }
        }

        .contactParsWhiteBlock {
            border-bottom: 2px solid #dfdfdf;
            width: 100%;

            p,
            a {
                color: #4e4e4e;
            }
        }

        .blockText {
            display: flex;
            margin: 1rem 0;
            flex-direction: row;
            align-items: center;

            &:last-child {
                margin-bottom: 2.5rem;
            }

            svg {
                fill: #4e4e4e;
                width: 15px;
                height: 15px;
                margin: auto 0.5rem auto 0;
            }
        }

        .additionText {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 2rem;
            min-width: 200px;
            width: 90%;

            @media only screen and (max-width: 1200px) {
                width: 60%;
            }

            @include mediaQuery(tablet) {
                width: 100%;
            }
        }

        p {
            margin: 0;
        }

        .additionTextBlock {
            display: flex;
            min-width: 150px;
            flex-direction: row;

            p:first-child {
                color: #919191;
            }

            div {
                width: 24px;
                border-bottom: 1px dashed #8f8f8f;
                margin: 0 0.2rem 8px 0.2rem;
            }
        }
    }

    .textContainer {
        width: 50%;

        @media only screen and (max-width: 1500px) {
            width: 45%;
        }

        @media only screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    .imitation {
        width: 50%;
        position: relative;

        @media only screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    .contactsMap {
        margin-top: 2rem;

        @media only screen and (max-width: 1200px) {
            margin-top: 0;
        }

        @include mediaQuery(mobile) {
            margin-top: 30px;
        }
    }
}
