.editInputBlock {
    display: flex;

    .input {
        max-width: 100%;
        padding: 10px 0;
        margin-right: 20px;
        width: initial;
        border-bottom: none;
        pointer-events: none;
        color: black;
        font-size: 30px;
    }

    button {
        svg {
            fill: $lightGrayColor;
            width: 14px;
            height: 14px;
        }

        &:hover {
            svg {
                fill: $mainColor;
            }
        }
    }

    &.active {
        .input {
            pointer-events: initial;
            border-bottom: initial;
            border-bottom: 1px solid $mainColor;
        }

        button {
            svg {
                fill: $mainColor;
            }
        }
    }

    @include mediaQuery(mobile) {
        .input {
            padding: 3px 0;
            width: 100%;
            font-size: 18px;
        }
    }
}