@font-face{
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
    url('../fonts/MuseoSansCyrl-500.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'MuseoSansCyrl';
    src: local('MuseoSansCyrl'),
    url('../fonts/MuseoSansCyrl-700.ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'),
    url('../fonts/proximanova_regular.ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'),
    url('../fonts/proximanova_semibold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'),
    url('../fonts/proximanova_bold.otf');
    font-weight: 700;
}

@font-face{
    font-family: 'Proxima Nova';
    src: local('Proxima Nova'),
    url('../fonts/proximanova_extrabold.otf');
    font-weight: 800;
}