.footer {
    background-color: $mainDarkGrayColor;

    .cont {
        overflow: hidden;
    }

    a {
        color: #fff;
        font-style: normal;

        &:hover {
            border-color: #fff;
        }
    }

    .topFooter {
        border-bottom: 1px solid $lightTonedColor;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        .footerLogo {
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: none !important;

            img {
                margin-right: 30px;
            }

            span {
                margin-right: 30px;
            }

            @include mediaQuery(tablet) {
                display: block;

                span {
                    display: none;
                }

                img {
                    margin-bottom: 20px;
                }
            }
        }

        .footerLeft {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include mediaQuery(tablet) {
                margin-right: 10px;

                input {
                    max-width: 230px;
                    width: 100%;
                }
            }

            @include mediaQuery(mobile) {
                display: block;
                width: 100%;
                margin-bottom: 24px;

                input {
                    max-width: 100%;
                }
            }
        }

        .phoneNumbers {
            display: flex;
            justify-content: space-between;
            color: #fff;
            max-width: 270px;
            width: 100%;

            .phoneNumber {
                font-weight: bold;

                b {
                    font-size: 10px;
                }

                span {
                    font-size: 13px;
                    font-weight: normal;
                }
            }

            @include mediaQuery(mobile) {
                flex-direction: column;

                .phoneNumber {
                    margin-bottom: 20px;
                }
            }
        }

        @include mediaQuery(mobile) {
            display: block;
            border: none;
            padding-bottom: 0;
        }
    }

    .footerMenu {
        display: flex;
        justify-content: space-between;
        margin: 40px 0;

        ul, li {
            list-style: none;
            color: #fff;
            font-style: normal;
        }

        .outerHead {
            margin-bottom: 24px;
            display: block;
            font-size: 24px;
        }

        .insideElements li {
            margin-bottom: 16px;
            font-size: 18px;

            a {
                font-size: 18px;
            }
        }

        .withoutHead {
            padding-top: 64px;
        }

        @include mediaQuery(tablet) {
            flex-wrap: wrap;
            justify-content: flex-start;

            .outerElement {
                margin: 20px 0;

                &:nth-of-type(3n+1) {
                    margin-right: 12%;
                    width: 25%;
                }

                &:nth-of-type(3n+2) {
                    margin-right: 14%;
                    width: 30%;
                }

                &:nth-of-type(3n+3) {
                    width: 19%;
                }
            }
        }

        @media only screen and (max-width: 720px) {
            .outerElement {
                &:nth-of-type(3n+1) {
                    margin-right: 6%;
                    width: 30%;
                }

                &:nth-of-type(3n+2) {
                    margin-right: 7%;
                    width: 35%;
                }

                &:nth-of-type(3n+3) {
                    width: 22%;
                }
            }
        }

        @include mediaQuery(mobile) {
            flex-direction: column;
            margin-top: 0;

            .withoutHead {
                padding-top: 0;
            }

            .outerElement {
                width: 100% !important;

                &:nth-child(1) {
                    margin-bottom: 0;
                }

                &:nth-child(2) {
                    margin-top: 0;
                }

                p.outerHead {
                    display: none;
                }
            }
        }
    }
}
