.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: $mainColor;
    color: white !important;

    .cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    .logoBlock {
        display: flex;
        flex-direction: column;
        margin-right: 54px;

        span {
            font-size: 50px;
        }
    }

    .mainMenu {
        ul {
            margin-bottom: 0;
            display: flex;
            list-style: none;
            justify-content: space-between;

            li {
                margin-right: 26px;
            }

            a {
                color: white;
                font-size: 16px;
            }
        }
    }

    .mobileNav {
        display: none;
    }

    .headerSearch,
    .iconEqual {
        margin-right: 20px;
        color: #fff;
    }

    @media only screen and (max-width: 1500px) {
        .logoBlock {
            margin-right: 25px;
        }

        .mainMenu ul li {
            margin-right: 14px;
        }
    }

    @media only screen and (max-width: 1280px) {
        .logoBlock {
            order: 1;
            width: 100px;
            margin-right: 20px;

            .logo img {
                width: 100px;
            }
        }

        .mainMenu {
            order: 2;
        }

        .headerSearch,
        .iconEqual {
            margin-right: 10px;
        }

        .headerSearch {
            order: 4;

            &.inactive {
                .searchBlock .search {
                    width: 42px;
                    padding: 13px;
                    color: transparent;

                    &::placeholder {
                        color: transparent;
                    }
                }

                svg {
                    right: 13px;
                }
            }
        }

        .iconEqual {
            order: 5;
        }

        .userDropdown {
            order: 6;
        }
    }

    @include mediaQuery(tablet) {
        .mainMenu,
        .headerSearch {
            display: none;
        }

        .mobileNav {
            order: 7;
            display: flex;

            svg {
                width: 24px;
                height: 24px;
                fill: white;
            }
        }
    }

    @include mediaQuery(mobile) {
        .logoBlock {
            span {
                font-size: 10px;
            }
        }

        .iconEqual,
        .userDropdown {
            display: none;
        }

        .tabletMenuToggle {
            margin: 0 10px;
        }
    }
}
