.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $mainBg;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.05);

    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 1024px) {
            flex-direction: row;
            padding: 14px 0;
        }
    }

    .headerTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $colorBorder;
        padding: 14px 0;

        .forLogo,
        .contacts {
            display: flex;
        }

        @media only screen and (max-width: 1024px) {
            margin-right: 10px;
            border: none;
        }
    }

    .forLogo {
        align-items: center;

        .logo {
            padding-right: 40px;

            svg {
                height: auto;
            }

            .logoIcon {
                width: 344px;
            }

            .logoMiniIcon {
                display: none;
            }

            @media only screen and (max-width: 1200px) {
                padding-right: 20px;

                .logoIcon {
                    width: 200px;
                }
            }

            @media only screen and (max-width: 1024px) {
                .logoIcon {
                    width: 100%;
                    max-width: 200px;
                }
            }

            @media only screen and (max-width: 768px) {
                .logoIcon {
                    display: none;
                }

                .logoMiniIcon {
                    display: block;
                    width: 50px;
                }
            }
        }

        .location {
            border-left: 1px solid $colorBorder;
            padding-left: 40px;

            div {
                display: flex;
                align-items: center;

                span {
                    font-size: 20px;
                    font-weight: 700;
                }
            }

            .locationIcon {
                margin-right: 9px;
            }

            .clinicsNearby {
                font-size: 14px;
                font-weight: 700;
                color: $mainGrey;

                span {
                    color: $mainText;
                    font-weight: 700;
                }
            }

            @media only screen and (max-width: 1200px) {
                padding-left: 20px;
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .hospitalAppointment {
            opacity: 0.6;
            color: $colorDark;
        }

        .socialsTel {
            display: flex;

            div {
                display: flex;
            }

            p {
                margin-left: 16px;
                font-size: 24px;
                font-weight: 700;
            }
        }

        .mainEmail {
            font-weight: 600;
        }

        .socialLink {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
            border-radius: 40px;
            padding: 7px;
            width: 32px;
            height: 32px;
            background-color: $mainText;

            svg {
                fill: #FFFFFF;
            }

            &:hover {
                background-color: $mainActive;
            }
        }
    }

    .headerBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px 0;

        .forMenu {
            margin-right: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .toHome {
                margin-right: 40px;

                .homeIcon {
                    opacity: 0.16;
                    fill: $colorDark;
                }

                &:hover {
                    .homeIcon {
                        opacity: 1;
                    }
                }
            }
        }

        nav {
            display: flex;
            align-items: center;
        }
    }

    .mainMenu {
        .hamburger {
            display: flex;
            margin-right: 16px;

            svg {
                width: 24px;
                fill: $colorDark;
            }

            svg.opened {
                display: none;
                z-index: 1010;
            }

            svg.closed {
                display: block;
            }
        }

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        li {
            margin-right: 30px;
            padding-right: 30px;

            &:not(:last-of-type) {
                border-right: 1px solid $colorBorder;
            }

            &:last-of-type {
                margin-right: 0;
                padding-right: 0;
            }

            @media only screen and (max-width: 1200px) {
                margin-right: 15px;
                padding-right: 15px;
            }
        }

        li a {
            text-transform: uppercase;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 800;
        }
    }

    .interactive {
        display: flex;
        align-items: center;

        .search {
            margin-right: 40px;
        }

        .callBack {
            box-shadow: 0 4px 16px rgba(255, 140, 105, 0.29);
            padding: 14px 32px;
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 1024px) {
        .headerTop .contacts,
        .headerTop .clinicsNearby,
        .toHome,
        .headerBottom ul,
        .interactive {
            display: none;
        }

        .wrapper {
            justify-content: space-between;
        }

        .headerTop,
        .headerBottom {
            padding: 0;
        }

        .mainMenu .hamburger,
        .headerBottom .forMenu {
            margin-right: 0;
        }

        &.mobile {
            overflow-y: scroll;
            justify-content: center;
            align-items: flex-start;
            position: absolute;
            top: 0;
            left: 0;
            padding: 14px 0;
            height: 100%;
            z-index: 1005;

            .wrapper {
                flex-direction: column;
                padding: 0;
            }

            .headerTop {
                order: 1;

                .forLogo {
                    display: none;
                }

                .contacts {
                    align-items: center;
                    width: 100%;

                    > * {
                        margin-bottom: 15px;
                    }

                    .socialsTel {
                        flex-direction: column;

                        div {
                            justify-content: space-evenly;
                            margin-bottom: 15px;

                            .socialLink {
                                margin-right: 0;
                            }
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }

            .headerBottom {
                order: 0;
                flex-direction: column;
                margin-bottom: 50px;

                .forMenu {
                    flex-direction: column;

                    .toHome {
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
            }

            .headerTop .contacts,
            .headerTop .clinicsNearby,
            .toHome,
            .headerBottom ul,
            .interactive {
                display: flex;
            }

            .mainMenu {
                .hamburger {
                    position: absolute;
                    top: 13px;
                    right: 0;

                    .opened {
                        display: flex;
                    }

                    .closed {
                        display: none;
                    }
                }

                ul {
                    flex-direction: column;

                    li {
                        margin-right: 0;
                        margin-bottom: 15px;
                        padding-right: 0;
                        border: none;
                    }
                }
            }

            .interactive {
                flex-direction: column;

                .search {
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {

    }
}
