.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    background-color: $mainColor;

    .cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }

    svg {
        fill: $mainSvgColor;
    }

    .logoBlock {
        display: flex;
        flex-direction: column;
        margin-right: 20px;

        a {
            font-size: 50px;
        }
    }

    .mainMenu {
        ul {
            margin-bottom: 0;
            display: flex;
            list-style: none;
            justify-content: space-between;

            li {
                margin-right: 80px;

                &:last-of-type {
                    margin-right: 20px;
                }
            }

            a {
                font-size: 20px;
            }
        }
    }

    .rightHeaderPart {
        display: flex;
        justify-content: center;
    }

    .headerSearch, .headerBasket {
        margin-right: 50px;

        svg {
            width: 36px;
            height: 36px;

            &:hover {
                fill: $mainActiveColor;
            }
        }
    }

    .headerMapMarker {
        display: flex;
        flex-direction: column;
        align-items: center;

        svg {
            width: 20px;
            height: 20px;
        }

        span {
            font-size: 14px;
            color: $mainSvgColor;
        }
    }

    @media only screen and (max-width: 1700px) {
        .mainMenu ul li {
            margin-right: 60px;
        }

        .headerSearch, .headerBasket {
            margin-right: 40px;
        }
    }

    @media only screen and (max-width: 1500px) {
        .mainMenu ul li {
            margin-right: 40px;
        }

        .headerSearch, .headerBasket {
            margin-right: 30px;
        }
    }

    @media only screen and (max-width: 1280px) {
        .logoBlock {
            a {
                font-size: 40px;
            }
        }

        .mainMenu ul li {
            margin-right: 20px;
        }

        .headerSearch, .headerBasket {
            margin-right: 20px;
        }
    }
}
