.mainPage {
    .slider {
        max-width: 100%;
        height: 800px;
        position: relative;
        margin: auto;

        @media only screen and (max-width: 1700px) {
            height: 700px;
        }

        @media only screen and (max-width: 1500px) {
            height: 600px;
        }

        @media only screen and (max-width: 1280px) {
            height: 500px;
        }
    }

    .slide {
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        > div {
            position: absolute;
            top: 160px;
            width: 100%;
        }

        h4 {
            font-size: 60px;
            font-weight: bold;
            color: $whiteColor;
        }

        p {
            font-size: 40px;
            font-weight: 700;
            color: $mainGreen;
        }
    }

    .sliderNav {
        position: absolute;
        top: 50%;
        width: 100%;

        .cont {
            display: flex;
            justify-content: space-between;

            button svg {
                width: 28px;
                height: 46px;
                fill: $mainSvgColor;
            }

            button:hover svg {
                fill: $mainTextColor;
            }
        }
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {
            opacity: 0.4
        }
        to {
            opacity: 1
        }
    }

    #models,
    #periphery,
    #stock,
    .gallery,
    #news {
        margin-top: 150px;
        margin-bottom: 150px;

        h3 {
            margin-bottom: 0;
            font-size: 60px;
            text-transform: uppercase;
            color: $whiteColor;
        }

        hr {
            margin-top: 0;
            margin-bottom: 40px;
            width: 143px;
            height: 7px;
            background-color: $mainActiveColor;
        }

        @media only screen and (max-width: 1700px) {
            margin-top: 130px;
            margin-bottom: 130px;
        }
    }

    #models > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 90px;
        grid-column-gap: 30px;
    }

    .cardCategory,
    .cardPeriphery {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border: 0;
        transition: all 0.5s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s ease-in-out;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70px;
            background-color: $lighterGrayColor;
            font-weight: bold;
            transition: all 0.5s ease-in-out;
        }

        &:hover {
            background-color: white;

            img {
                filter: opacity(90%);
            }

            span {
                background-color: $mainActiveColor;
                color: $lighterGrayColor;
            }
        }
    }

    .cardCategory {
        height: 470px;

        span {
            position: absolute;
            bottom: 0;
            font-size: 30px;

            @media only screen and (max-width: 1500px) {
                font-size: 24px;
            }
        }

        &:hover {
            img {
                transform: scale(1.2);
            }
        }

        @media only screen and (max-width: 1500px) {
            height: 380px;
        }
    }

    #periphery {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & > div {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-row-gap: 30px;
            grid-column-gap: 30px;
        }

        .hrAndAll {
            margin-bottom: 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-self: flex-start;
        }

        hr {
            margin-bottom: 0;
        }

        .showAll {
            color: $showAllColor;

            &:hover {
                color: $mainTextColor;
            }
        }
    }

    .cardPeriphery {
        display: flex;
        flex-direction: column;

        span {
            font-size: 20px;

            @media only screen and (max-width: 1500px) {
                font-size: 16px;
                height: 60px;
            }
        }
    }

    .stockSlider {
        height: 168px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gallery {
        overflow: hidden;
    }

    .gallery > div {
        position: relative;
        height: 628px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;

        @media only screen and (max-width: 1700px) {
            height: 450px;
        }
    }

    .gallerySlider1,
    .gallerySlider2 {
        position: relative;
        border: 0;
        height: 628px;
        transition: all 0.5s ease-in-out;

        > div {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s ease-in-out;
        }

        @media only screen and (max-width: 1700px) {
            height: 450px;
        }
    }

    #news > div {
        display: flex;
        flex-direction: column;

        .news1,
        .news2 {
            display: flex;
            justify-content: space-between;

            img,
            div {
                width: 50%;
            }
        }

        .news1 {
            margin-bottom: 50px;
        }

        h4 {
            margin-bottom: 40px;
            font-size: 30px;
        }

        p {
            font-size: 20px;
            line-height: 24px;
        }

        img {
            margin-right: 50px;
            height: 222px;
            object-fit: cover;
        }
    }

    .aboutUs {
        display: flex;
        justify-content: space-between;
        align-self: center;

        p {
            font-size: 20px;
            line-height: 24px;
            color: $whiteColor;

            @media only screen and (max-width: 1500px) {
                font-size: 18px;
            }
        }

        .leftAbout {
            margin-right: 160px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 170px;
            grid-column-gap: 60px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                min-width: 43px;
                height: 43px;
            }

            p {
                margin-left: 38px;
            }

            @media only screen and (max-width: 1500px) {
                margin-right: 80px;
                grid-row-gap: 80px;
                grid-column-gap: 60px;
            }
        }

        .rightAbout {
            h3 {
                margin-bottom: 0;
                font-size: 60px;
                text-transform: uppercase;
                color: $whiteColor;
            }

            hr {
                margin-top: 0;
                margin-bottom: 40px;
                width: 70%;
                height: 7px;
                background-color: $mainActiveColor;
            }

            p {
                margin-bottom: 30px;
            }
        }
    }
}
