.keyboardPage {
    margin: 135px 0;

    .cont {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        margin-bottom: 10px;
        font-size: 40px;
        text-transform: uppercase;
    }

    hr {
        height: 7px;
        background-color: $mainActiveColor;

        &:first-of-type {
            margin-top: 0;
            margin-bottom: 40px;
            max-width: 400px;
        }

        &:last-of-type {
            max-width: 260px;
        }
    }

    .description {
        margin-bottom: 90px;
        max-width: 1000px;

        .descrP {
            margin-top: 40px;
            margin-bottom: 65px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
    }

    .stats {
        margin-bottom: 50px;

        .flexStats {
            max-width: 412px;
            display: flex;
            flex-direction: column;

            > div {
                border-bottom: 2px solid $borderBottomColor;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
            }

            span {
                font-size: 20px;
            }
        }
    }

    .priceBlock {
        max-width: 259px;

        .priceH,
        .price {
            padding: 0 16px;
        }

        .priceH {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 700;
            color: $showAllColor;
        }

        .price {
            margin-bottom: 30px;
            font-size: 30px;
            font-family: Consolas, sans-serif;
        }
    }

    .viewKeyb {
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        img {
            filter: drop-shadow(0 0 35px rgb(255, 140, 0));
            max-width: 546px;
            height: 326px;
            object-fit: contain;

            &:last-of-type {
                margin-top: 100px;
                transform: scaleX(-1);
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        margin: 40px 0;

        .cont {
            flex-direction: column;
        }

        .viewKeyb {
            align-items: center;
            margin-top: 0;
            order: 0;

            img {
                margin: 0;
                max-width: 300px;
                width: 100%;

                &:last-of-type {
                    display: none;
                }
            }
        }

        .contentKeyb {
            order: 1;
        }

        .description {
            h4 {
                font-size: 30px;
            }

            hr {
                margin: 0;
                height: 4px;
            }

            .descrP {
                margin: 20px 0;
                font-size: 16px;

                p {
                    margin-bottom: 20px;
                }
            }
        }

        .stats {
            h4 {
                font-size: 30px;
            }

            hr {
                margin: 0;
                height: 4px;
            }

            .flexStats {
                max-width: 100%;
                width: 100%;
                margin-top: 20px;

                span {
                    font-size: 16px;
                }
            }
        }

        .priceBlock {
            max-width: 300px;

            .priceH,
            .price {
                padding: 0;
            }

            button {
                min-width: 100%;
                width: 100%;
            }
        }
    }
}