.keyboardPage {
    margin: 135px 0;

    .cont {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        margin-bottom: 10px;
        font-size: 40px;
        text-transform: uppercase;
    }

    hr {
        height: 7px;
        background-color: $mainActiveColor;

        &:first-of-type {
            margin-top: 0;
            margin-bottom: 40px;
            max-width: 400px;
        }

        &:last-of-type {
            max-width: 260px;
        }
    }

    .description {
        margin-bottom: 90px;
        max-width: 1000px;

        p {
            margin-top: 40px;
            margin-bottom: 65px;
            font-size: 20px;
            line-height: 24px;
            font-weight: 700;
        }
    }

    .stats {
        margin-bottom: 50px;

        .flexStats {
            max-width: 412px;
            display: flex;
            flex-direction: column;

            > div {
                border-bottom: 2px solid $showAllColor;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
            }

            span {
                font-size: 20px;
            }
        }
    }

    .priceBlock {
        max-width: 259px;

        .priceH,
        .price {
            padding: 0 16px;
        }

        .priceH {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 700;
            color: $showAllColor;
        }

        .price {
            margin-bottom: 30px;
            font-size: 30px;
            font-family: Consolas, sans-serif;
        }
    }

    //.contentKeyb {
    //    @media only screen and (max-width: 1700px) {
    //        order: 1;
    //    }
    //}

    .viewKeyb {
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        img {
            filter: drop-shadow(0 0 35px rgb(255, 140, 0));
            max-width: 546px;
            height: 326px;
            object-fit: contain;

            &:last-of-type {
                margin-top: 100px;
                transform: scaleX(-1);
            }
        }

        //@media only screen and (max-width: 1700px) {
        //    margin-top: 0;
        //    flex-direction: row;
        //    order: 0;
        //
        //    img {
        //        width: 50%;
        //        height: auto;
        //        &:last-of-type {
        //            margin-top: 0;
        //        }
        //    }
        //}
    }
}