* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoCondensed', sans-serif;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}

label {
    margin: 0;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button:active,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input:focus,
textarea:focus {
    outline: 0 !important;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

button::-moz-focus-inner {
    border: 0;
}

a,
button,
input,
textarea {
    transition: all 0.3s linear;
    outline: none;
}

ul {
    list-style-type: none;
}

ol {
    list-style-position: inside;
}

.cont {
    margin: 0 auto;
    width: 98%;
    max-width: 1700px;

    @media only screen and (min-width: 2500px) {
        width: 100%;
        max-width: 2000px;
    }

    @media only screen and (max-width: 1700px) {
        max-width: 1500px;
    }
}

body {
    background-color: #111111;
    color: $mainTextColor;

    &.noScroll {
        height: 100vh;
        width: 100%;
        position: fixed;
        overflow-y: scroll;
    }
}

a {
    font-weight: 300;
    border-bottom: 1px solid transparent;
    transition: all 0.3s linear;
    text-decoration: none !important;
    color: $mainTextColor;

    &:hover {
        color: $mainActiveColor;
    }
}

svg {
    fill: transparent;
    transition: all 0.3s linear;
}

.pageStyle {
    margin-bottom: 100px;
}

.modalAnimation {
    animation: SHW .3s;
    animation-fill-mode: both
}

@keyframes SHW {
    from {
        transform: scale(0);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

button {

}

.toBasket,
.toConfigure {
    border: 1px solid transparent;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 20px;

    @media only screen and (max-width: 1280px) {
        font-size: 18px;
    }
}

.toBasket {
    background-color: $mainActiveColor;
    color: $lighterGrayColor;
    width: 100%;

    svg {
        width: 28px;
        height: 28px;
        margin-right: 12px;
        fill: $lighterGrayColor;
    }

    &:hover {
        border: 1px solid $mainActiveColor;
        background-color: transparent;
        color: $whiteColor;

        svg {
            fill: $whiteColor;
        }
    }

}

.toConfigure {
    border: 1px solid $mainActiveColor;
    color: $whiteColor;

    &:hover {
        border: 1px solid transparent;
        background-color: $mainActiveColor;
        color: $lighterGrayColor;
    }
}