* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proba Pro', sans-serif;
    font-weight: normal;
}

h1,
.f1 {
    font-size: 90px;
    line-height: 90px;

    @include mediaQuery(tablet) {
        font-size: 60px;
        line-height: 60px;
    }
}

h2,
.f2 {
    font-size: 50px;
    line-height: 60px;

    @include mediaQuery(tablet) {
        font-size: 40px;
        line-height: 40px;
    }
}

.f3 {
    font-size: 30px;
    line-height: 30px;

    @include mediaQuery(tablet) {
        font-size: 24px;
        line-height: 24px;
    }
}

.f4 {
    font-weight: bold;
    font-size: 24px;
    color: $mainColor;

    @include mediaQuery(tablet) {
        font-size: 24px;
    }
}

.f5 {
    font-size: 18px;

    @include mediaQuery(tablet) {
        font-size: 18px;
    }

    @include mediaQuery(mobile) {
        font-size: 16px;
    }
}

.f6 {
    font-size: 16px;

    @include mediaQuery(tablet) {
        font-size: 16px;
    }
}


a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button:active,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input:focus,
textarea:focus {
    outline: 0 !important;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

button::-moz-focus-inner {
    border: 0;
}

a,
button,
input,
textarea {
    transition: all .3s linear;
    outline: none;
}

ul,
ol {
    list-style-position: inside;
}

.cont {
    margin: 0 auto;
    width: 98%;
    max-width: 1500px;

    @media only screen and (min-width: 2500px) {
        width: 100%;
        max-width: 2000px;
    }

    @include mediaQuery(tablet) {
        max-width: 720px;
    }

    @include mediaQuery(mobile) {
        width: 97%;
    }
}

body.noScroll {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
}

a {
    font-weight: 300;
    font-size: 25px;
    border-bottom: 1px solid transparent;
    transition: all .3s linear;
    text-decoration: none !important;
    color: $mainColor;

    &.icon:hover {
        svg {
            transition: all .3s linear;
        }
    }

    @include mediaQuery(mobile) {
        font-size: 13px;
    }
}

svg {
    fill: transparent;
    transition: all .3s linear;

    &:hover {
        fill: $mainColor;
    }
}

.icon {
    svg {
        fill: $mainColor;
        width: $iconSize;
        height: $iconSize;

        @include mediaQuery(mobile) {
            width: 26px;
            height: 26px;
        }
    }
}

.pageStyle {
    margin-bottom: 40px;

    @include mediaQuery(mobile) {
        margin-bottom: 35px;
    }
}

.doNotUseMobile {
    @include mediaQuery(mobile) {
        display: none !important;
    }
}

.useOnlyMobile {
    display: none;

    @include mediaQuery(mobile) {
        display: block !important;
    }
}

.modalAnimation {
    animation: SHW .3s;
    animation-fill-mode: both
}

@keyframes SHW {
    from {
        transform: scale(0);
        opacity: 0
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

.input,
.textarea {
    display: flex;
    width: 100%;
    border: none;
    border-bottom: 1px solid $lightGrayColor;
    transition: all 0.3s linear;

    &::placeholder {
        color: $mainGrayColor;
    }

    &:focus {
        border-color: $mainColor !important;
    }
}

.inputCounter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 2px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 4px;
    height: 56px;

    input {
        width: 50%;
        height: 100%;
        border: none;
        background: #FFFFFF;
        border-left: 2px solid #D1D1D1;
        border-right: 2px solid #D1D1D1;
        box-sizing: border-box;
        text-align: center;
        color: $tonedBlackColor;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    button {
        width: 25%;
        align-items: center;
        font-weight: bold;
        font-size: 36px;
        color: $mainColor;

        @include mediaQuery(tablet) {
            width: 36px;
        }

        @include mediaQuery(mobile) {
            height: 46px;
            line-height: 46px;
        }
    }
}
