.possibilityCard {
    position: relative;
    width: 47%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 2rem;
    margin: 0 0 1.5rem;

    svg {
        fill: let(--bg);
        width: 15px;
        height: 15px;
        margin-right: 1rem;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 5px;
        width: 90%;
        background: let(--bg);
        border-radius: 5px;
    }

    .possibilityCardHead {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .cardMainText {
        font-size: 24px;
        line-height: 30px;
        color: #656565;
        margin: 1rem 0;

        @include mediaQuery(mobile) {
            font-size: 18px;
        }
    }

    .cardAdditionalText {
        color: #808080;
        line-height: 30px;
    }

    .redColor {
        color: #DC4B4B;
    }

    .greenColor {
        color: #32AD54;
    }

    @include mediaQuery(tablet) {
        width: 100%;
    }
}
