.productCardContainer {
  .productCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 353px;
    min-width: 227px;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(95, 91, 97, 0.1);
    border-radius: 8px;
    padding: 30px 33px;
    margin: 1rem 1rem 1rem 0;
    box-sizing: border-box;

    @include mediaQuery(mobile) {
        width: 336px;
        padding: 20px 23px;
    }
  }

  .productCard:nth-child(3)~.productCard {
    @include mediaQuery(mobile) {
        display: none;
    }
  }

  .productCardSlider {
    @include mediaQuery(mobile) {
        display: none;
    }
  }

  .productCard:hover {
    .hiddenButton {
      display: flex;
    }
  }

  .productCardButton {
    display: none;
    @include mediaQuery(mobile) {
        display: flex;
        width: 192px;
        margin: 1rem auto;
    }
  }

  .hiddenButton {
    display: none;

    @include mediaQuery(tablet) {
      display: flex;
    }

    @include mediaQuery(mobile) {
      display: flex;
    }
  }

  .productName {
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    margin: 1rem 0;

    @include mediaQuery(tablet) {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .productPrice {
    margin-bottom: 1rem;
  }

  @include mediaQuery(tablet) {
    min-width: 336px;
  }
}

#productCards {
    display: none;
    @include mediaQuery(mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}