.productCardContainer {
    .glider {
        min-height: 650px;

        z-index: 2;
    }

    .glider-dots {
        bottom: 15%;
        position: absolute;
        z-index: 3;
    }

    .productCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        min-width: 353px;
        max-height: 522px;
        background: #ffffff;
        box-shadow: 0 4px 10px rgba(95, 91, 97, 0.1);
        border-radius: 8px;
        padding: 30px 33px;
        margin: 1rem;
        box-sizing: border-box;

        a {
            color: black;

            &:hover,
            &:active {
                cursor: pointer;
                color: $mainColor;
            }
        }

        .emergingBlock {
            display: none;
            //position: relative;
        }

        &:hover {
            .emergingBlock {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                max-width: 353px;
                min-width: 227px;
                width: 100%;
                background: #ffffff;
                border-radius: 8px;
            }
        }
    }

    .productDescription {
        margin-bottom: 0;
        text-align: center;

    }

    .productCardButton {
        display: none;

        .textBlock {
            color: white;
        }

    }

    .hiddenButton {
        width: 70%;
        margin: 16px 0 0 0;
    }

    .productName {
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        margin: 1rem 0;

    }

    .productPrice {
        margin-bottom: 0;
    }
}

#productCards {
    display: none;
}
