.radioGroup {
  display: inline-block;
  border-radius: 24px;
  border: 2px solid #EDEDED;

  input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
  }

  label {
    color: #969696;
    display: inline-block;
    cursor: pointer;
    padding: 5px 20px;
    margin: 0;
    transform: scaleX(1.03) scaleY(1.07);
  }

  input[type=radio]:checked + label{
    color: #fff;
    background: $lightColor;
    border-radius: 24px;
    position: relative;
    z-index: 2;
  }
}
