.refundPage {
    .bannerGradientContainer {
        .bannerGradient {
            background: linear-gradient(to right, #F4F6F8 0%, #F4F6F8 50%, transparent 65%);

            @media only screen and (min-width: 2000px) {
                background: linear-gradient(to right, #F4F6F8 0%, #F4F6F8 60%, transparent 63%)
            }

            @media only screen and (max-width: 1500px) {
                background: linear-gradient(to right, #F4F6F8 0%, #F4F6F8 50%, transparent 60%)
            }
        }

        .mainTextBanner {
            border-bottom: 4px solid #DFDFDF;
        }

        .amountOfDays {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 2rem 0 0;
            align-items: center;
            justify-content: flex-start;
        }

        .amountOfDaysHead {
            font-size: 40px;
            width: 30%;
            margin-right: 20px;
            color: #D75F85;
        }

        .amountOfDaysText {
            color: #4A4A4A;
            width: 65%;
        }
    }

    .returnCards {
        .returnCardsHead {
            margin: 0 0 2rem 0;
            width: 100%;

            @media only screen and (max-width: 1350px) {
                width: 60%;
            }
        }

        .returnOfQualityGoods,
        .returnOfQualityDefects {
            margin-bottom: 90px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        @media only screen and (max-width: 1350px) {
            padding: 1rem;
        }
    }
}
