.refundPage {
    .bannerGradientContainer {
        .mainTextBanner {
            border-bottom: 4px solid #DFDFDF;
        }

        .amountOfDays {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 2rem 0 0;
            align-items: center;
            justify-content: flex-start;

            @include mediaQuery(mobile) {
                margin: 0.7rem 0 0;
            }
        }

        .amountOfDaysHead {
            font-size: 40px;
            width: 30%;
            margin-right: 20px;
            color: #D75F85;

            @include mediaQuery(tablet) {
                width: 100%;
            }
        }

        .amountOfDaysText {
            color: #4A4A4A;
            width: 65%;

            @include mediaQuery(tablet) {
                width: 90%;
                margin: 1.1rem 0 0;
                line-height: 24px;
            }
        }
    }

    .returnCards {
        .returnCardsHead {
            margin: 2rem 0;
            width: 100%;

            @media only screen and (max-width: 1350px) {
                width: 60%;
            }

            @include mediaQuery(mobile) {
                width: 90%;
                margin: 3rem 0 1rem;
            }
        }

        .returnOfQualityGoods,
        .returnOfQualityDefects {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

        @media only screen and (max-width: 1350px) {
            padding: 1rem;
        }

        @include mediaQuery(mobile) {
            padding: 0.1rem;
        }
    }
}
