.searchBlock {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;

    &.gray {
        .search {
            width: 292px;
            background-color: $mainGrayColor;

            &:focus {
                background-color: darken($mainGrayColor, 2%);
            }
        }
    }

    &.pink {
        .search {
            width: 235px;
            background-color: $lightColor;

            &:focus {
                background-color: darken($lightColor, 2%);
            }
        }
    }

    .search {
        border-radius: 3px;
        padding: 13px 43px 13px 20px;
        font-size: 16px;
        border: none;
        background: none;
        color: white;

        &::placeholder {
            color: white;
        }
    }

    svg {
        position: absolute;
        right: 38px;
        width: 18px;
        height: 18px;

        &:hover {
            fill: none;
        }
    }
}