.swiper {
    padding-top: 60px;
    max-width: 100%;
    width: 100%;
    position: relative;
    margin: auto;
    overflow-y: visible;

    .swiper-wrapper {
        height: 100%;
        font-size: 0;
    }
}
