.swiper-slide {
    display: flex;
    align-items: center;
    cursor: grab;
    border-radius: 20px;
    height: 500px;
    background-image: url("../img/discount/slideBack.png");
    background-size: cover;
    color: $colorDark;

    .slideContent {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 66px;
        max-width: 737px;
        width: 100%;
        height: 100%;
    }

    img {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
        pointer-events: none;

        @media only screen and (max-width: 1024px) {
            height: 95%;
        }

        @media only screen and (max-width: 768px) {
            right: 0 !important;
            height: 100%;
            object-position: 100px 0;
        }
    }

    .discName {
        margin-top: 18px;
        margin-bottom: 28px;
        font-size: 48px;
        font-weight: 700;
    }

    .additional {
        font-size: 36px;
        font-weight: 700;
    }

    .discInfo {
        display: inline-block;

        > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .discCount {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 6px 11px;
            background-color: $btn;

            span {
                font-weight: 700;
                color: #FFFFFF;
            }

            svg {
                position: absolute;
                left: -7px;
            }
        }

        .discOldPrice {
            margin-right: 25px;
            text-decoration: line-through;
            color: #333333;

            span {
                font-size: 20px;
                font-weight: 600;
            }

            .rub {
                font-size: 20px;
            }
        }

        .discNewPrice {
            span {
                font-size: 46px;
                font-weight: 800;
            }

            .rub {
                font-size: 34px;
            }
        }
    }

    .discUpTo {
        margin-top: 8px;
        margin-bottom: 25px;
        color: #333333;
        opacity: 0.75;
    }

    .discButtons {
        display: flex;
        flex-wrap: wrap;

        .orange {
            margin-right: 20px;
        }
    }

    @media only screen and (max-width: 1024px) {
        overflow: hidden;
        height: 400px;

        .slideContent {
            padding: 30px;
            max-width: 100%;
        }

        .discInfo {
            display: flex;
            flex-direction: column;
            max-width: 300px;
        }

        .discName,
        .discInfo .discNewPrice span {
            font-size: 36px;
        }

        .additional,
        .discInfo .discNewPrice .rub {
            font-size: 24px;
        }
    }

    @media only screen and (max-width: 768px) {
        height: auto;

        .slideContent {
            backdrop-filter: blur(20px);
        }

        .discInfo {
            .discOldPrice {
                span,
                .rub {
                    font-size: 14px;
                }
            }
        }

        .discName,
        .discInfo .discNewPrice span {
            font-size: 20px;
        }

        .additional,
        .discInfo .discNewPrice .rub {
            font-size: 18px;
        }

        .discButtons {
            flex-direction: column;

            .button {
                max-width: 300px;
                width: 100%;
            }

            .orange {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}
