.slide {
    cursor: grab;
    padding: 66px;
    height: 100%;
    background-image: url("../img/discount/slideBack.png");
    background-size: cover;

    .slideContent {
        position: relative;
        z-index: 2;
    }

    img {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        height: 115%;
        pointer-events: none;
    }

    > div {
        width: 100%;
    }

    h4 {
        font-size: 60px;
        font-weight: bold;
        color: black;
    }

    p {
        font-size: 40px;
        font-weight: 700;
        color: black;
    }
}
