.swiper {
    cursor: grab;
    width: 100%;
    height: 580px;

    @include mediaQuery(tablet) {
        height: 395px;
    }

    @include mediaQuery(mobile) {
        height: 500px;
    }
    
    @media only screen and (max-width: 414px) {
        height: 600px;
    }

    @media only screen and (max-width: 350px) {
        height: 650px;
    }
}

.btn-group {
}

.btn-group .btn {
    cursor: pointer;
    float: left;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $lightColor;
    margin-left: 4px;
    transition: all 2s ease-in-out;

    &.active {
        background-color: $mainColor;
    }
}

.btn-group svg {
    z-index: -1;
    top: -2px;
    left: 2px;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.btn-group path {
    fill: none;
    stroke: $mainColor;
    stroke-dasharray: 39, 99999;
    transition: all 1s ease-in-out;
    stroke-width: 2;
}

.slides {
    transition: left 1s ease-in-out;
    height: 100%;
    position: absolute;
    display: flex;

    .bipolarSliderItem {
        height: 100%;
        width: 100%;
    }
}


.nav {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5%;
    transform: translateY(-50%);
    z-index: 100;

    margin-left: 75px;

    @include mediaQuery(tablet) {
        margin-left: calc(24px + (100vw - 720px) / 2)
    }

    @media only screen and (max-width: 720px) {
        margin-left: 24px;
    }
}
