.tabletMenuModal {
    display: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    background: $mainColor;
    justify-content: center;
    align-items: center;

    .header {
        display: none;
    }

    .tabletMenuModalBlock {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .additionalMenu {
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;

        ul, li {
            list-style: none;
            color: #fff;
            font-style: normal;
        }

        .outerElement {
            .outerHead {
                margin-bottom: 24px;
                display: block;
                font-size: 24px;
                color: white;
            }
        }

        .withoutHead {
            padding-top: 62px;
        }

        ul li {
            margin-bottom: 16px;
            font-size: 18px;

            a {
                font-size: 18px;
                color: white;
            }
        }

        .mainCaption {
            margin-bottom: 7px;
            font-size: 18px;
        }

        .additionalCaption {
            font-size: 13px;
            opacity: 0.7;
        }

        @include mediaQuery(tablet) {
            flex-wrap: wrap;
            justify-content: flex-start;

            .outerElement {
                margin: 20px 0 0 0;

                &:nth-of-type(3n+1) {
                    margin-right: 12%;
                    width: 25%;
                }

                &:nth-of-type(3n+2) {
                    margin-right: 14%;
                    width: 30%;
                }

                &:nth-of-type(3n+3) {
                    width: 19%;
                }
            }

            li.forSearchLi {
                margin-right: 0;
                width: 100%;

                .searchBlock .search {
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: 720px) {
            .outerElement {
                &:nth-of-type(3n+1) {
                    margin-right: 6%;
                    width: 30%;
                }

                &:nth-of-type(3n+2) {
                    margin-right: 7%;
                    width: 35%;
                }

                &:nth-of-type(3n+3) {
                    width: 22%;
                }
            }

            li.forSearchLi {
                margin-right: 0;
                width: 100%;

                .searchBlock .search {
                    width: 100%;
                }
            }
        }

        @include mediaQuery(mobile) {
            flex-direction: column;
            margin-top: 0;

            .mainCaption {
                font-weight: bold;
                color: $tonedBlackColor;
            }

            ul, li,
            ul li a,
            .outerElement .outerHead {
                color: black;
            }

            .withoutHead {
                padding-top: 0;
            }

            .outerElement {
                width: 100% !important;

                .outerHead {
                    font-weight: bold;
                }

                &.forSearchLi {
                    order: 1;
                }

                &.captionLi {
                    order: 2;
                }

                &:first-of-type {
                    order: 3;
                }

                &:nth-of-type(2) {
                    order: 4;
                }

                &:nth-of-type(3) {
                    order: 5;
                }

                &:nth-of-type(4) {
                    order: 6;
                }

                &:nth-of-type(5) {
                    order: 7;
                }

                &:nth-child(1) {
                    margin-bottom: 0;
                }

                &:nth-child(2) {
                    margin-top: 0;
                }

                > p {
                    display: none;
                }
            }
        }
    }

    @include mediaQuery(tablet) {
        overflow-y: scroll;
    }

    @include mediaQuery(mobile) {
        top: 0 !important;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);

        .tabletMenuModalBlock {
            width: 86%;
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: column;
            background-color: #FAFAFA;
        }

        .additionalMenu,
        .header .cont {
            margin-right: 15px;
            margin-left: 15px;
        }

        .header {
            display: flex;
            height: 90px;

            .cont {
                display: flex;
                justify-content: space-between;
            }
        }

        .iconEqual,
        .userDropdown {
            display: flex;
        }

        .userDropdown {
            margin-right: 10px;
            order: 1;
        }

        .iconEqual {
            margin-right: 0;
            order: 2;
        }

        .additionalMenu {
            .searchBlock {
                .search {
                    background-color: #F4F4F4;
                    color: $tonedBlackColor;

                    &::placeholder {
                        color: $tonedBlackColor;
                    }

                    &:focus {
                        background-color: darken(#F4F4F4, 3%);
                    }
                }

                svg {
                    stroke: $mainColor;
                }
            }
        }
    }
}