$mainColor: #CD3767;
$lightColor: #DD5883;
$ultraLightColor: #DE799A;
$darkColor: #C52C5D;
$mainGrayColor: #8D8D8D;

$deskWindowMaxWidth: 1000px !default;
$mobileWindowMaxWidth: 630px !default;

$iconSize: 34px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function getFontSize($f-min, $f-max, $units: px) {
  $w-min: 480;
  $w-max: 1300;
  $f-min: strip-unit($f-min);
  $f-max: strip-unit($f-max);
  $w-min: strip-unit($w-min);
  $w-max: strip-unit($w-max);

  $k: ($f-max - $f-min)/($w-max - $w-min);
  $b: $f-min - $k * $w-min;

  $b: $b + $units;

  @return calc( #{$k} * 100vw + #{$b} );
}

@mixin mediaQuery($media-query) {
  @if $media-query == tablet {
    @media only screen and (max-width: 810px) {
      @content;
    }
  }

  @if $media-query == mobile {
    @media only screen and (max-width: $mobileWindowMaxWidth) {
      @content;
    }
  }

  @if $media-query == desk {
    @media only screen and (min-width: $deskWindowMaxWidth) {
      @content;
    }
  }

  @if $media-query == print {
    @media print {
      @content;
    }
  }
}
