$lighterGrayColor: #242424;
$footerBg: #242424;
$whiteColor: white;
$basketActiveColor: #FFA239;
$mainSvgColor: #707070;
$showAllColor: #9B9B9B;
$mainGreen: #77B901;
$pcBg: #161616;
$borderPC: #9A9A9A;
$borderBottomColor: #2B2B2B;

$mainBg: #FFFFFF;
$mainText: #014751;
$mainActive: #11839E;
$mainGrey: #a5a5a5;
$colorDark: #035063;
$colorBorder: rgba(233, 233, 233, 0.8);
$btn: #FF7512;
$btnActive: rgba(3, 80, 99, 0.7);