$mainBgColor: #111111;
$lighterGrayColor: #242424;
$footerBg: #242424;
$mainTextColor: #E2E2E2;
$mainActiveColor: #FF8800;
$mainSvgColor: #707070;
$showAllColor: #9B9B9B;

$mainColor: #111111;
$lightColor: lighten(#D0567A, 3%);
$ultraLightColor: #e589a5;
$purple: #FCF5FF;
$darkColor: #C52C5D;
$mainGrayColor: #716D6C;
$lightGrayColor: #C4C4C4;
$darkGrayColor: #676767;
$mainDarkGrayColor: #4E4947;
$mainBlue: #233568;
$tonedColor: rgba(255, 255, 255, 0.1);
$lightTonedColor: rgba(255, 255, 255, 0.2);
$tonedBlackColor: #373737;