.menu__mobile {
    display: flex;
    align-items: center;
    justify-content: center;

    &_button {
        position: relative;
        height: 26px;
        width: 40px;
        cursor: pointer;
        background-color: transparent;

        &:hover {

            &::before {

                transform: translateX(5px);
            }

            &::after {
                transform: translateX(-5px);
            }
        }

        &.active {
            position: fixed;
            top: 10px;
            right: 10px;
            transform: scale(0.7);
            z-index: 500;

            &:before,
            &:after {
                background-color: $color4;

            }

            span {
                opacity: 0;
            }

            &.menu__mobile_button:before,
            &.menu__mobile_button:after {
                top: 40%;
            }

            &.menu__mobile_button:before {
                transform: rotate(45deg);
            }

            &.menu__mobile_button:after {
                transform: rotate(-45deg);
            }
        }

        span,
        &:before,
        &:after {
            display: block;
            position: absolute;
            height: 6px;
            width: 100%;
            background-color: $color2;
        }

        &:before,
        &:after {
            content: "";
            transition: top .35s cubic-bezier(.23, 1, .32, 1), transform .35s cubic-bezier(.23, 1, .32, 1);
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }

        &:before {
            top: 0;
        }

        &:after {
            top: calc(100% - 6px);
        }
    }
}

.menu-list-burger {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: rgba($color1, .9);
    transition: .35s linear;
    transform: translateY(-150%);
    z-index: 498;
    list-style-type: none;
    color: $color2;

    li {
        position: relative;

        a {
            text-decoration: none;
            color: $color2;
            //text-shadow: 0px 0px 20px rgba($color: $color2, $alpha: .9);

            &:hover {
                color: $color4;
                text-decoration: none;
                text-shadow: 0px 0px 20px rgba($color: $color2, $alpha: .9);
            }
        }

        .active {
            color: $color4;
            text-decoration: underline;
            text-shadow: 0px 0px 20px rgba($color: $color2, $alpha: .9);
        }
    }

}

.menu-active {
    transform: translateY(0);
}

.burger-text {
    color: $color2;
}

.menu-fixed-container {
    .burger-text {
        color: $color4;
    }

    .menu__mobile {
        &_button {

            span,
            &:before,
            &:after {
                background-color: $color4;

            }
        }

    }
}