@font-face{
    font-family: 'roboto-light';
    src: local('roboto-light'),
    url('../fonts/roboto-light.woff2'),
    url('../fonts/roboto-light.woff'),
    url('../fonts/roboto-light.ttf');
    font-weight: 400;
    
}

@font-face{
    font-family: 'roboto-regular';
    src: local('roboto-regular'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff'),
    url('../fonts/roboto-regular.ttf') format('ttf');
    font-weight: 400;
    
}

@font-face{
    font-family: 'roboto-bold';
    src: local('roboto-bold'),
    url('../fonts/roboto-bold.woff2') format('woff2'),
    url('../fonts/roboto-bold.woff') format('woff'),
    url('../fonts/roboto-bold.ttf') format('ttf');
    font-weight: 400;
    
}

@font-face{
    font-family: 'roboto-medium';
    src: local('roboto-medium'),
    url('../fonts/roboto-medium.woff2') format('woff2'),
    url('../fonts/roboto-medium.woff') format('woff'),
    url('../fonts/roboto-medium.ttf') format('ttf');
    font-weight: 400;
    
}

@font-face{
    font-family: 'roboto-thin';
    src: local('roboto-thin'),
    url('../fonts/roboto-thin.woff2') format('woff2'),
    url('../fonts/roboto-thin.woff') format('woff'),
    url('../fonts/roboto-thin.ttf') format('ttf');
    font-weight: 400;
    
}

@font-face{
    font-family: 'baskerville-bold';
    src: local('baskerville-bold'),
    url('../fonts/baskerville-bold.woff2') format('woff2'),
    url('../fonts/baskerville-bold.woff') format('woff'),
    url('../fonts/baskerville-bold.ttf') format('ttf');
    font-weight: 400;
    
}










