/* uslugi */

.uslugi-main-container {

    @media screen and (min-width: 200px) and (max-width: 567px) {

        .index-uslugi-container {
            &:nth-child(2n) {
                background-color: rgba($color: $color6, $alpha: .6);
            }
        }

    }

    @media screen and (min-width: 568px) and (max-width: 1199px) {

        .index-uslugi-container {

            &:first-child,
            &:last-child {
                background-color: rgba($color: $color6, $alpha: .6);
            }
        }

    }

    @media screen and (min-width: 1200px) {

        &:nth-child(2n-1) {
            .index-uslugi-container {
                &:nth-child(2n) {
                    background-color: rgba($color: $color6, $alpha: .6);
                }
            }
        }

        &:nth-child(2n) {
            .index-uslugi-container {
                &:nth-child(2n-1) {
                    background-color: rgba($color: $color6, $alpha: .6);
                }
            }
        }
    }
}

.index-uslugi-container {
    height: 250px;
    background-color: rgba($color: $color6, $alpha: .3);
    transition: .3s linear;

    @media screen and (min-width: 768px) {
        height: 400px;

    }

    &:hover {
        box-shadow: 0 0 6px rgba($color: $color1, $alpha: .4);
    }

    .uslugi-ico {
        width: 70px;

        svg {
            width: 100%;
        }
    }

    .uslugi-ico+span {
        @media screen and (min-width: 768px) {
            font-size: 1.4rem;
        }
    }
}

.uslugi-best {
    &::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 150px solid $color5;
        border-right: 150px solid transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &::after {
        content: 'Лучшее предложение!';
        text-transform: uppercase;
        font-family: $Roboto-light;
        color: $color2;
        transform-origin: 0 0;
        font-size: .8rem;
        transform: rotate(-45deg);
        position: absolute;
        top: 115px;
        left: 0;
        z-index: 2;
    }
}

/* articles */
#indexNewsSlider,
#indexArticlesSlider {
    .slick-list {
        @media screen and (min-width: 768px) {
            margin: 0 -15px;
        }

        .slick-slide {
            @media screen and (min-width: 768px) {
                padding: 0 15px;

            }
        }

    }

}

.article-cont {

    &:hover {
        .article-img-cont {
            box-shadow: 2px 2px 5px rgba($color: $color1, $alpha: .8);
        }
    }

    .article-img-cont {
        width: 100%;
        height: 300px;
        transition: .3s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/* partners */

.patners-img-cont {
    height: 100px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.main-sertificate-cont {

    &:hover {
        .patners-img-cont {
            box-shadow: 2px 2px 5px rgba($color: $color1, $alpha: .8);
        }

    }

    .patners-img-cont {
        height: auto;
        transition: .3s linear;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}

/* insta */

.insta-container {
    color: $color2;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    //box-shadow: 0 -200px 100px -120px #5955a3 inset;
    //animation: insta 5s linear infinite;
}

.insta-logo {
    width: 50px;

    svg {
        width: 100%;

        path {
            fill: $color2;
        }
    }
}

.youtube-container {
    color: $color2;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #ff0000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    box-shadow: 0 -200px 100px -120px #ff0000 inset;
    animation: insta 5s linear infinite;
}

.youtube-logo {
    width: 50px;

    svg {
        width: 100%;

        path {
            fill: $color2;
        }
    }
}

/* stages */
.statistic-container {
    position: relative;

    &:nth-child(2n-1) {
        border-right: 1px solid $color4;
    }

    @media screen and (min-width: 992px) {
        border-right: 1px solid $color4;

        &:last-child {
            border-right: 0 !important;
        }
    }
}

.stages-number {
    width: 35px;
    font-size: 3rem;
    color: $color4;
}

.stages-ico {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    svg {
        width: 100%;

        path {
            fill: $color4;
        }
    }
}

.statistic-text {

    a {
        color: $color4;
        font-size: 1rem;
    }

    @media screen and (min-width: 768px) {

        a {
            font-size: 1.2rem;
        }
    }
}