.main-nav-container {
    background-color: $color5;
}

.main-menu {
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .menu-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 1200px) {
            width: 75%;
        }

        li {

            a {
                color: $color2;

                @media screen and (min-width: 992px) {
                    font-size: 1.2rem;
                }

                &:hover {
                    color: $color4;
                }
            }
        }
    }

    svg {
        width: 20px;
        height: 20px;

        path {
            fill: $color2;
            transition: .3s linear;
        }

        &:hover {

            path {
                fill: $color4;
            }
        }

    }

    .menu-favorites {

        .favorites-count {
            background-color: $color4;
            color: $color2;
        }

    }

    .active {
        text-decoration: underline;

        svg {
            path {
                fill: $color4;
            }

        }
    }

}

/* sub */

.sub-menu-cont {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    list-style-type: none;
    background-color: $color3;
    border-top: 3px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2000;
    transition: 0.3s linear;
    transform: translateY(30px);

    &:hover {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }

    .sub-menu-caption {
        display: inline-block !important;
        color: $color5;
        border-bottom: 1px solid $color5;
    }

    .menu-level-two-child-link {
        color: $color1;
        text-decoration: none;

        &:hover {
            color: $color4;
            text-decoration: underline;
        }
    }

    .active {
        color: $color4;
        text-decoration: underline;
    }
}

.uslugi-container {
    .sub-menu-cont {
        background-color: $color2;
        visibility: visible;
        opacity: 1;
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        z-index: 1;

        &:hover {
            transform: none;
        }
    }
}

.sub-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}