/* fonts */
$Roboto-light: 'roboto-light',
'Arial',
sans-serif;
$Roboto-regular: 'roboto-regular',
'Arial',
sans-serif;
$Roboto-bold: 'roboto-bold',
'Arial',
sans-serif;
$Roboto-medium: 'roboto-medium',
'Arial',
sans-serif;
$Roboto-thin: 'roboto-thin',
'Arial',
sans-serif;
$Baskerville-bold: 'baskerville-bold',
'Arial',
sans-serif;


$color1: #000;
$color2:#fff;
$color3: #c7c7c7;
$color4:#b12025;
$color5: #5f2619;
$color6:#967168;
$color7:#d4c3bf;

