<div class="alphabetComp cont">
    <button class="filterLetter">A</button>
    <button class="filterLetter">B</button>
    <button class="filterLetter">C</button>
    <button class="filterLetter">D</button>
    <button class="filterLetter">E</button>
    <button class="filterLetter">F</button>
    <button class="filterLetter">G</button>
    <button class="filterLetter">H</button>
    <button class="filterLetter">I</button>
    <button class="filterLetter">J</button>
    <button class="filterLetter">K</button>
    <button class="filterLetter">L</button>
    <button class="filterLetter">M</button>
    <button class="filterLetter">N</button>
    <button class="filterLetter">O</button>
    <button class="filterLetter">P</button>
    <button class="filterLetter">Q</button>
    <button class="filterLetter">R</button>
    <button class="filterLetter">S</button>
    <button class="filterLetter">T</button>
    <button class="filterLetter">U</button>
    <button class="filterLetter">V</button>
    <button class="filterLetter">W</button>
    <button class="filterLetter">X</button>
    <button class="filterLetter">Y</button>
    <button class="filterLetter">Z</button>
</div>
