<div class="bannerGradientContainer">
    <div class="bannerGradient">
        <div class="bannerText cont">
            <div class="mainTextBanner">
                <h1 class="f2 mainTextHead">Политика возврата</h1>
                <p class="f5 mainTextParagraph">Все претензии рассматриваются в письменном виде в течение 1-2-х
                    рабочих дней.(Желательно
                    приложить фото товара!)</p>
            </div>
            <!--            <div class="amountOfDays">-->
            <!--                <p class="amountOfDaysHead">14 дней</p>-->
            <!--                <p class="f5 amountOfDaysText">Возврат/обмен товаров возможен в течении 14 дней с момента получения-->
            <!--                    заказа!</p>-->
            <!--            </div>-->
        </div>
    </div>
    <div class="bannerImg">
        <img src="/img/refund/refundBannerImg.jpg" alt="refundBanner">
    </div>
</div>