<div class="bannerClaims"> <!-- withSubscription -->
    <div class="bannerClaimsImg">
        <img src="/img/refund/bannerClaims.png" alt="claims">
    </div>
    <div class="bannerClaimsText cont">
        <div class="bannerClaimsContent">
            <h2 class="f2 bannerClaimsHeader"> Претензии </h2>
            <p class="f4 bannerClaimsMainText">Направить нам претензию Вы можете на почту</p>
            <p class="f3 bannerClaimsMail">Email@mail.ru</p>
            <p class="f5 bannerClaimsAdditionalText">*В теме письма укажите "Запрос на возврат/обмен товара"</p>
<!--            <form action="" class="form">-->
<!--                <h2>Подпишитесь на рассылку скидок</h2>-->
<!--                <div class="inputBlock">-->
<!--                    <label for="emailInput">Email</label>-->
<!--                    <input class="input" type="text" id="emailInput" placeholder="Введите ваш email">-->
<!--                </div>-->
<!--                <p class="attention">Нажимая на кнопку «Отправить», я даю согласие на обработку <a href="">персональных-->
<!--                    данных</a></p>-->
<!--                <button class="button f5">-->
<!--                    Подписаться-->
<!--                </button>-->
<!--            </form>-->
        </div>
    </div>
</div>