<div class="categoryModal">
    <div class="categoryModalBlock cont">
        <ul class="firstCategory">
            <li>
                <a href="#" class="categoryCaption">Мужская парфюмерия</a>
                <div class="categoryList">
                    <ul>
                        <li><a href="#">Celebrity</a></li>
                        <li><a href="#">Восточная / Арабская</a></li>
                        <li><a href="#">Люкс / Элитная</a></li>
                        <li><a href="#">Винтажная</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Наборы</a></li>
                        <li><a href="#">Селективная/Нишевая</a></li>
                        <li><a href="#">Пробники</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="secondCategory">
            <li>
                <a href="#" class="categoryCaption">Женская парфюмерия</a>
                <div class="categoryList">
                    <ul>
                        <li><a href="#">Винтажная</a></li>
                        <li><a href="#">Наборы</a></li>
                        <li><a href="#">Селективная/Нишевая</a></li>
                        <li><a href="#">Пробники</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Celebrity</a></li>
                        <li><a href="#">Восточная / Арабская</a></li>
                        <li><a href="#">Люкс / Элитная</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="elseCategories">
            <li><a href="#" class="categoryCaption">Новинки парфюмерии</a></li>
            <li><a href="#" class="categoryCaption">Популярные ароматы</a></li>
            <li><a href="#" class="categoryCaption">Хиты продаж</a></li>
        </ul>
        <ul class="elseCategories">
            <li><a href="#" class="categoryCaption">Бесплатная доставка</a></li>
            <li><a href="#" class="categoryCaption">Подарок 500 рублей</a></li>
            <li><a href="#" class="categoryCaption">Бесплатные пробники</a></li>
        </ul>
    </div>
</div>