<div class="profileModal">
    <div class="profileModalBlock">
        <p class="iconButton userNameModal">
            <svg>
                <use xlink:href="/img/sprite.svg#user"></use>
            </svg>
            Иван
        </p>
        <a href="/clubCards.html">Клубные карты</a>
        <a href="/buyHistory.html">История покупок</a>
        <a href="/personData.html">Персональные данные</a>
        <a href="/myAddress.html">Мои адреса</a>
        <button class="iconButton closeProfileModal">Выход</button>
    </div>
</div>