<footer class="footer">
    <div class="cont">
        <div class="menuFooter">
            <nav>
                <a href="/">Serious pc</a>
                <ul>
                    <li><a href="#models">Модели</a></li>
                    <li><a href="#periphery">Периферия</a></li>
                    <li><a href="#stock">Акции</a></li>
                    <li><a href="#news">Новости</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </nav>
            <p class="copy">&copy; Serious Pc 2021</p>
            <p class="privacy">
                <a href="/">Политика конфиденциальности</a>
            </p>
        </div>
        <div class="contactsFooter">
            <div class="telBlock">
                <svg>
                    <use xlink:href="/img/sprite.svg#mobile"></use>
                </svg>
                <div>
                    <p>8(812)473-42-23</p>
                    <p>8(812)473-57-75</p>
                </div>
            </div>
            <div class="socials">
                <a href="https://www.youtube.com/">
                    <svg>
                        <use xlink:href="/img/sprite.svg#yt"></use>
                    </svg>
                </a>
                <a href="https://vk.com/">
                    <svg>
                        <use xlink:href="/img/sprite.svg#vk"></use>
                    </svg>
                </a>
                <a href="https://web.telegram.org/">
                    <svg>
                        <use xlink:href="/img/sprite.svg#telegram"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>
