<header class="header">
    <div class="wrapper">
        <div class="headerTop">
            <div class="forLogo">
                <a class="logo" href="/">
                    {% include '../../img/svg/logo.svg' with {'class': 'logoIcon'} %}
                </a>
                <div class="location">
                    <div>
                        {% include '../../img/svg/location.svg' with {'class': 'locationIcon'} %}
                        <span>Москва</span>
                    </div>
                    <p class="clinicsNearby"><span>7 клиник</span> рядом с Вами!</p>
                </div>
            </div>
            <div class="contacts">
                <p class="hospitalAppointment">Запись на приём</p>
                <div class="socialsTel">
                    <div>
                        <a class="socialLink" href="https://www.whatsapp.com">
                            {% include '../../img/svg/viber.svg' with {'class': 'viberIcon'} %}
                        </a>
                        <a class="socialLink" href="https://web.telegram.org">
                            {% include '../../img/svg/telegram.svg' with {'class': 'telegramIcon'} %}
                        </a>
                        <a class="socialLink" href="https://www.viber.com">
                            {% include '../../img/svg/whatsapp.svg' with {'class': 'whatsappIcon'} %}
                        </a>
                    </div>
                    <p>8 (495) 540-48-03</p>
                </div>
                <p class="mainEmail">medgorod@bk.ru</p>
            </div>
        </div>
        <div class="headerBottom">
            <div class="forMenu">
                <a class="toHome" href="/">
                    {% include '../../img/svg/home.svg' with {'class': 'homeIcon'} %}
                </a>
                <nav class="mainMenu">
                    <button class="hamburger">
                        {% include '../../img/svg/hamburger.svg' with {'class': 'hamburgerIcon'} %}
                    </button>
                    <ul>
                        <li><a href="/">Услуги</a></li>
                        <li><a href="/">О клинике</a></li>
                        <li><a href="/">Врачи</a></li>
                        <li><a href="/">Цены</a></li>
                        <li><a href="/">Отзывы</a></li>
                        <li><a class="active" href="/">Акции</a></li>
                        <li><a href="/">Клиники</a></li>
                    </ul>
                </nav>
            </div>
            <div class="interactive">
                <div class="search inactive">
                    <label class="searchBlock" for="topSearch">
                        <input class="inputField" type="text" placeholder="Поиск" id="topSearch">
                        {% include '../../img/svg/search.svg' with {'class': 'searchIcon'} %}
                    </label>
                </div>
                <button class="button orange callBack">Обратный звонок</button>
            </div>
        </div>
    </div>
</header>
