<header class="header">
    <div class="cont">
        <div class="logoBlock">
            <a href="/">Serious pc</a>
        </div>
        <div class="mainMenu">
            <nav>
                <ul>
                    <li><a href="#models">Модели</a></li>
                    <li><a href="#periphery">Периферия</a></li>
                    <li><a href="#stock">Акции</a></li>
                    <li><a href="#news">Новости</a></li>
                    <li><a href="#contacts">О нас</a></li>
                    <li><a href="../delivery.html">Доставка</a></li>
                </ul>
            </nav>
        </div>
        <div class="rightHeaderPart">
            <div class="headerSearch inactive">
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35.997" height="36.004" viewBox="0 0 35.997 36.004">
                        <path d="M35.508,31.127l-7.01-7.01a1.686,1.686,0,0,0-1.2-.492H26.156a14.618,14.618,0,1,0-2.531,2.531V27.3a1.686,1.686,0,0,0,.492,1.2l7.01,7.01a1.681,1.681,0,0,0,2.384,0l1.99-1.99a1.7,1.7,0,0,0,.007-2.391Zm-20.883-7.5a9,9,0,1,1,9-9A8.995,8.995,0,0,1,14.625,23.625Z"/>
                    </svg>
                </button>
            </div>
            <div class="headerBasket">
                <a href="../basket.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40.5" height="36" viewBox="0 0 40.5 36">
                        <path d="M37.133,21.186,40.457,6.561A1.688,1.688,0,0,0,38.812,4.5H11.194L10.55,1.349A1.687,1.687,0,0,0,8.9,0H1.688A1.687,1.687,0,0,0,0,1.688V2.813A1.687,1.687,0,0,0,1.688,4.5H6.6L11.54,28.648a3.938,3.938,0,1,0,4.714.6H31a3.936,3.936,0,1,0,4.472-.732l.388-1.707a1.688,1.688,0,0,0-1.646-2.061H15.336l-.46-2.25H35.488A1.687,1.687,0,0,0,37.133,21.186Z"/>
                    </svg>
                </a>
            </div>
            <div class="headerMapMarker">
                <svg xmlns="http://www.w3.org/2000/svg" width="16.278" height="21.704" viewBox="0 0 16.278 21.704">
                    <path d="M7.3,21.266C1.143,12.337,0,11.42,0,8.139a8.139,8.139,0,0,1,16.278,0c0,3.282-1.143,4.2-7.3,13.127a1.018,1.018,0,0,1-1.673,0Zm.836-9.736A3.391,3.391,0,1,0,4.748,8.139,3.391,3.391,0,0,0,8.139,11.53Z"/>
                </svg>
                <span>Санкт-Петербург</span>
            </div>
        </div>
    </div>
</header>
