<header class="header">
    <div class="cont">
        <div class="logoBlock">
            <a href="/">SERIOUS PC</a>
        </div>
        <div class="mainMenu">
            <nav>
                <ul>
                    <li><a href="#models">Модели</a></li>
                    <li><a href="#periphery">Периферия</a></li>
                    <li><a href="#stock">Акции</a></li>
                    <li><a href="#news">Новости</a></li>
                    <li><a href="#contacts">Контакты</a></li>
                </ul>
            </nav>
        </div>
        <div class="rightHeaderPart">
            <div class="headerSearch inactive">
                <button>
                    <svg>
                        <use xlink:href="/img/sprite.svg#search"></use>
                    </svg>
                </button>
            </div>
            <div class="headerBasket">
                <a href="./html/basket.html">
                    <svg>
                        <use xlink:href="/img/sprite.svg#basket"></use>
                    </svg>
                </a>
            </div>
            <div class="headerMapMarker">
                <svg>
                    <use xlink:href="/img/sprite.svg#mapMarker"></use>
                </svg>
                <span>Санкт-Петербург</span>
            </div>
        </div>
    </div>
</header>
