<div class="productCardContainer">
  <div id="productCards">
      <h3 class="f2 gliderTitle">{{ gliderTitle }}</h3>
    {% block cards %} {% for item in dataProductCards %}
    <div class="productCard">
      <img src="/img/product/{{item.img}}.png" alt="{{name}}" />
      <a class="productName" href="../product.html">{{item.name}}</a>
      <p class="f4 productPrice">{{item.price}}</p>
    <div class="emergingBlock">
        {% if {{item.description}} %}
        <p class="f5 productDescription">{{item.description}}</p>
        {% endif %}
        <button class="button f5 iconButton hiddenButton">
          <span class="iconBlock">
            <svg>
              <use xlink:href="/img/sprite.svg#basket"></use>
            </svg>
          </span>
          <span class="textBlock"> Купить </span>
        </button>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </div>

  <div class="productCardSlider">
    {% include 'glider.html' with { 'elementClassName': elementClassName,
    'gliderTitle': gliderTitle, 'elements': block('cards') } %}
  </div>

  <button class="button f5 productCardButton">
    <span class="textBlock"> {{buttonName}} </span>
  </button>
</div>
