<div style="display: none">
    {% block reviewsElements %}
    {% for i in range(0, 8) %}
    <div class="reviewsItem">
        <img class="reviewsAvatar" src="/img/reviews/img1.png" alt="">
        <div class="reviewsStars">
            <svg>
                <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <svg>
                <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <svg>
                <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <svg>
                <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <svg>
                <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
            <svg>
                <use xlink:href="/img/sprite.svg#star"></use>
            </svg>
        </div>
        <h4>Ирина Иванова</h4>
        <p>
            Они бывают и розовые и черные)
            Для чего я носила маску каждый день
            на учебу и почему я советую визажистам работать в.. <a href="#">Показать полностью</a>
        </p>
    </div>
    {% endfor %}

    {% endblock %}
</div>

{%
include 'glider.html' with {
'elementClassName': elementClassName,
'gliderTitle': gliderTitle,
'elements': block('reviewsElements')
}
%}
