<div class="selectMate" data-mate-select="active">
    <label for="">Страна</label>
    <select name="" onchange="" onclick="return false;" id="">
        <option value="" disabled selected>Введите страну</option>
        <option value="1">Select option 1</option>
        <option value="2">Select option 2</option>
        <option value="3">Select option 3</option>
    </select>
    <p class="selecionadoOpcion" onclick="openSelect(this)"></p>
    <span onclick="openSelect(this)" class="iconSelectMate">
                                    <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                                        <path d="M0-.75h24v24H0z" fill="none" />
                                    </svg>
                                </span>
    <div class="contListSelectMate">
        <ul class="contSelectInt"></ul>
    </div>
</div>
