<div class="slide fade">
    <div class="slideContent">
        <div class="discType tag">{{type}}</div>
        <p class="discName">{{name}}</p>
        <div class="discInfo">
            <div>
                <p class="discOldPrice">{{oldPrice}}</p>
                <div class="discCount">
                    {% include '../../img/svg/arrowTip.svg' with {'class': 'arrowTip'} %}
                    <span>-{{discount}}</span>
                </div>
            </div>
            <p class="discNewPrice">{{newPrice}}</p>
            <span class="discUpTo">Акция действует до {{upTo}}</span>
        </div>
        <div class="discButtons">
            <button class="button orange">Записаться</button>
            <button class="button turquoise">Подробнее</button>
        </div>
    </div>
    <img src="{{image}}" alt=""/>
</div>