<div class="slide fade">
    <div class="slideContent">
        <div class="discTyoe">{{type}}</div>
        <h4 class="dicName">{{name}}</h4>
        <div>
            <p class="discOldPrice">{{oldPrice}}</p>
            <div class="discCount">-{{discount}}</div>
        </div>
        <p class="discNewPrice">{{newPrice}}</p>
        <span class="discUpTo">Акция действует до {{upTo}}</span>
        <div>
            <button class="button orange">Записаться</button>
            <button class="button turquoise">Подробнее</button>
        </div>
    </div>
    <img src="{{image}}" alt=""/>
</div>