@charset "UTF-8";
/* fonts */
@font-face {
  font-family: 'roboto-light';
  src: local("roboto-light"), url("../fonts/roboto-light.woff2"), url("../fonts/roboto-light.woff"), url("../fonts/roboto-light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'roboto-regular';
  src: local("roboto-regular"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'roboto-bold';
  src: local("roboto-bold"), url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"), url("../fonts/roboto-bold.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'roboto-medium';
  src: local("roboto-medium"), url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"), url("../fonts/roboto-medium.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'roboto-thin';
  src: local("roboto-thin"), url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff"), url("../fonts/roboto-thin.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'baskerville-bold';
  src: local("baskerville-bold"), url("../fonts/baskerville-bold.woff2") format("woff2"), url("../fonts/baskerville-bold.woff") format("woff"), url("../fonts/baskerville-bold.ttf") format("ttf");
  font-weight: 400;
}

a,
button {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

p {
  margin-bottom: 0;
}

ul,
ol {
  list-style-position: inside;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  -webkit-touch-callout: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
  text-decoration: none;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 85% !important;
  }
}

/* section */
.section-100 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.section {
  position: relative;
}

.section-shadow {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(199, 199, 199, 0.1)), to(#fff));
  background-image: linear-gradient(to bottom, rgba(199, 199, 199, 0.1) 50%, #fff 100%);
  position: relative;
}

.section-line {
  border-top: 2px solid rgba(177, 32, 37, 0.1);
}

/* Кнопка */
.main-btn {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: #b12025;
  color: #fff;
  letter-spacing: 2px;
}

.main-btn:hover {
  text-decoration: none;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  color: #b12025;
}

header .main-btn {
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-size: .7rem;
  color: #b12025;
  letter-spacing: .5px;
}

@media screen and (min-width: 576px) {
  header .main-btn {
    width: 200px;
    font-size: 1rem;
  }
}

header .main-btn:hover {
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.catalog-btn-add-to-favorites-cont .main-btn {
  background-color: #967168;
}

.catalog-btn-add-to-favorites-cont .main-btn svg {
  width: 20px;
  height: 20px;
  fill: #b12025;
  margin-left: 10px;
}

.catalog-btn-add-to-favorites-cont .main-btn.f-active {
  position: relative;
  background-color: transparent;
  color: #967168;
}

.catalog-btn-add-to-favorites-cont .main-btn.f-active:hover:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-btn-add-to-favorites-cont .main-btn.f-active:before {
  content: 'Удалить из избранного';
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background-color: #fff;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b12025;
  font-size: .8rem;
  position: absolute;
  left: 0;
  top: 0;
}

.catalog-btn-add-to-favorites-cont .main-btn.f-active svg {
  width: 20px;
  height: 20px;
  fill: #967168;
}

/* Заголовки */
.caption {
  font-family: "roboto-light", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 100;
  opacity: .8;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  .caption {
    font-size: 2rem;
  }
}

.caption-2 {
  font-family: "roboto-light", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  opacity: .8;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  .caption-2 {
    font-size: 1.5rem;
  }
}

/* Шрифты */
.f-regular {
  font-family: "roboto-regular", "Arial", sans-serif;
  line-height: 1.2;
}

.f-light {
  font-family: "roboto-light", "Arial", sans-serif;
  line-height: 1.2;
}

.f-bold {
  font-family: "roboto-bold", "Arial", sans-serif;
  line-height: 1.2;
}

.f-medium {
  font-family: "roboto-medium", "Arial", sans-serif;
  line-height: 1.2;
}

.f-thin {
  font-family: "roboto-thin", "Arial", sans-serif;
  line-height: 1.2;
}

.f-baskerville {
  font-family: "baskerville-bold", "Arial", sans-serif;
  line-height: 1.2;
}

/* loader */
#loader {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../img/30.gif");
  background-repeat: no-repeat;
  background-position: center 30px;
  background-size: auto auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;
}

/* bootstrap tech */
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
          box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}

.rub {
  line-height: 5px;
  width: 0.4em;
  border-bottom: 1px solid #000;
  display: inline-block;
}

div.jGrowl div.red_theme {
  background-color: #F00;
  color: #FFF;
}

div.jGrowl div.ism_theme {
  background-color: #5f2619;
  color: #FFF;
}

.social-share-cont {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.social-share-cont:hover {
  opacity: .5;
}

.social-share-cont svg {
  width: 30px;
  height: 30px;
  fill: #5f2619;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header {
  background-color: #b12025;
}

@media screen and (min-width: 1200px) {
  .header {
    background-image: -webkit-gradient(linear, left top, right top, from(#b12025), color-stop(60%, #b12025), color-stop(60%, #fff), to(#fff));
    background-image: linear-gradient(to right, #b12025 0%, #b12025 60%, #fff 60%, #fff 100%);
  }
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px !important;
}

.header-logo-cont,
.header-contacts-cont {
  background-color: #b12025;
  position: relative;
}

.header-logo-cont {
  position: relative;
}

.header-logo-cont .header-logo-item {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .header-logo-cont .header-logo-item {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo-cont .header-logo-item {
    position: absolute;
    left: 0;
    top: 10px;
  }
}

.header-logo-cont .header-logo-item svg {
  width: 100%;
}

.header-phone {
  color: #fff;
  font-size: 1.3rem;
}

.header-phone:hover {
  text-decoration: none;
  color: #fff;
  opacity: .7;
}

.header-license-cont {
  background-color: #fff;
}

.header-license-cont {
  padding: 0 10px;
}

.header-license-cont .header-license-item svg {
  width: 100%;
  max-height: 90px;
}

@media screen and (min-width: 576px) {
  .header-license-cont .header-license-item svg {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.header-img-container {
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .header-img-container {
    min-height: 200px;
    background-position: center 0;
  }
}

/* banners */
.img-index-banners-cont:hover {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -webkit-transition: .3s linear;
  transition: .3s linear;
  cursor: pointer;
}

.img-index-banners-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-nav-container {
  background-color: #5f2619;
}

.main-menu {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.main-menu .menu-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .main-menu .menu-list {
    width: 75%;
  }
}

.main-menu .menu-list li a {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .main-menu .menu-list li a {
    font-size: 1.2rem;
  }
}

.main-menu .menu-list li a:hover {
  color: #b12025;
}

.main-menu svg {
  width: 20px;
  height: 20px;
}

.main-menu svg path {
  fill: #fff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.main-menu svg:hover path {
  fill: #b12025;
}

.main-menu .menu-favorites .favorites-count {
  background-color: #b12025;
  color: #fff;
}

.main-menu .active {
  text-decoration: underline;
}

.main-menu .active svg path {
  fill: #b12025;
}

/* sub */
.sub-menu-cont {
  width: 100%;
  visibility: hidden;
  opacity: 0;
  list-style-type: none;
  background-color: #c7c7c7;
  border-top: 3px solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.sub-menu-cont:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.sub-menu-cont .sub-menu-caption {
  display: inline-block !important;
  color: #5f2619;
  border-bottom: 1px solid #5f2619;
}

.sub-menu-cont .menu-level-two-child-link {
  color: #000;
  text-decoration: none;
}

.sub-menu-cont .menu-level-two-child-link:hover {
  color: #b12025;
  text-decoration: underline;
}

.sub-menu-cont .active {
  color: #b12025;
  text-decoration: underline;
}

.uslugi-container .sub-menu-cont {
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  position: relative;
  top: auto;
  left: auto;
  -webkit-transform: none;
          transform: none;
  z-index: 1;
}

.uslugi-container .sub-menu-cont:hover {
  -webkit-transform: none;
          transform: none;
}

.sub-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.menu__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__mobile_button {
  position: relative;
  height: 26px;
  width: 40px;
  cursor: pointer;
  background-color: transparent;
}

.menu__mobile_button:hover::before {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.menu__mobile_button:hover::after {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.menu__mobile_button.active {
  position: fixed;
  top: 10px;
  right: 10px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  z-index: 500;
}

.menu__mobile_button.active:before, .menu__mobile_button.active:after {
  background-color: #b12025;
}

.menu__mobile_button.active span {
  opacity: 0;
}

.menu__mobile_button.active.menu__mobile_button:before, .menu__mobile_button.active.menu__mobile_button:after {
  top: 40%;
}

.menu__mobile_button.active.menu__mobile_button:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__mobile_button.active.menu__mobile_button:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu__mobile_button span, .menu__mobile_button:before, .menu__mobile_button:after {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background-color: #fff;
}

.menu__mobile_button:before, .menu__mobile_button:after {
  content: "";
  -webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu__mobile_button span {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu__mobile_button:before {
  top: 0;
}

.menu__mobile_button:after {
  top: calc(100% - 6px);
}

.menu-list-burger {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: .35s linear;
  transition: .35s linear;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  z-index: 498;
  list-style-type: none;
  color: #fff;
}

.menu-list-burger li {
  position: relative;
}

.menu-list-burger li a {
  text-decoration: none;
  color: #fff;
}

.menu-list-burger li a:hover {
  color: #b12025;
  text-decoration: none;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
}

.menu-list-burger li .active {
  color: #b12025;
  text-decoration: underline;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
}

.menu-active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.burger-text {
  color: #fff;
}

.menu-fixed-container .burger-text {
  color: #b12025;
}

.menu-fixed-container .menu__mobile_button span, .menu-fixed-container .menu__mobile_button:before, .menu-fixed-container .menu__mobile_button:after {
  background-color: #b12025;
}

/* uslugi */
@media screen and (min-width: 200px) and (max-width: 567px) {
  .uslugi-main-container .index-uslugi-container:nth-child(2n) {
    background-color: rgba(150, 113, 104, 0.6);
  }
}

@media screen and (min-width: 568px) and (max-width: 1199px) {
  .uslugi-main-container .index-uslugi-container:first-child, .uslugi-main-container .index-uslugi-container:last-child {
    background-color: rgba(150, 113, 104, 0.6);
  }
}

@media screen and (min-width: 1200px) {
  .uslugi-main-container:nth-child(2n-1) .index-uslugi-container:nth-child(2n) {
    background-color: rgba(150, 113, 104, 0.6);
  }
  .uslugi-main-container:nth-child(2n) .index-uslugi-container:nth-child(2n-1) {
    background-color: rgba(150, 113, 104, 0.6);
  }
}

.index-uslugi-container {
  height: 250px;
  background-color: rgba(150, 113, 104, 0.3);
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media screen and (min-width: 768px) {
  .index-uslugi-container {
    height: 400px;
  }
}

.index-uslugi-container:hover {
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.index-uslugi-container .uslugi-ico {
  width: 70px;
}

.index-uslugi-container .uslugi-ico svg {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .index-uslugi-container .uslugi-ico + span {
    font-size: 1.4rem;
  }
}

.uslugi-best::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 150px solid #5f2619;
  border-right: 150px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.uslugi-best::after {
  content: 'Лучшее предложение!';
  text-transform: uppercase;
  font-family: "roboto-light", "Arial", sans-serif;
  color: #fff;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  font-size: .8rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 115px;
  left: 0;
  z-index: 2;
}

/* articles */
@media screen and (min-width: 768px) {
  #indexNewsSlider .slick-list,
  #indexArticlesSlider .slick-list {
    margin: 0 -15px;
  }
}

@media screen and (min-width: 768px) {
  #indexNewsSlider .slick-list .slick-slide,
  #indexArticlesSlider .slick-list .slick-slide {
    padding: 0 15px;
  }
}

.article-cont:hover .article-img-cont {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.article-cont .article-img-cont {
  width: 100%;
  height: 300px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.article-cont .article-img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* partners */
.patners-img-cont {
  height: 100px;
}

.patners-img-cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-sertificate-cont:hover .patners-img-cont {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.main-sertificate-cont .patners-img-cont {
  height: auto;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.main-sertificate-cont .patners-img-cont img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* insta */
.insta-container {
  color: #fff;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.insta-logo {
  width: 50px;
}

.insta-logo svg {
  width: 100%;
}

.insta-logo svg path {
  fill: #fff;
}

.youtube-container {
  color: #fff;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #ff0000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  -webkit-box-shadow: 0 -200px 100px -120px #ff0000 inset;
          box-shadow: 0 -200px 100px -120px #ff0000 inset;
  -webkit-animation: insta 5s linear infinite;
          animation: insta 5s linear infinite;
}

.youtube-logo {
  width: 50px;
}

.youtube-logo svg {
  width: 100%;
}

.youtube-logo svg path {
  fill: #fff;
}

/* stages */
.statistic-container {
  position: relative;
}

.statistic-container:nth-child(2n-1) {
  border-right: 1px solid #b12025;
}

@media screen and (min-width: 992px) {
  .statistic-container {
    border-right: 1px solid #b12025;
  }
  .statistic-container:last-child {
    border-right: 0 !important;
  }
}

.stages-number {
  width: 35px;
  font-size: 3rem;
  color: #b12025;
}

.stages-ico {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.stages-ico svg {
  width: 100%;
}

.stages-ico svg path {
  fill: #b12025;
}

.statistic-text a {
  color: #b12025;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .statistic-text a {
    font-size: 1.2rem;
  }
}

.main-contacts-cont {
  font-family: "roboto-regular", "Arial", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.main-contacts-cont a {
  text-decoration: none;
  color: #000;
}

.main-contacts-cont a:hover {
  color: #b12025;
}

.main-contacts-cont svg {
  width: 20px;
  height: 20px;
}

.main-contacts-cont svg path {
  fill: #b12025;
}

.main-contacts-cont .pdf-ico {
  width: 40px;
  height: 40px;
  background-image: url("../img/pdf-ico.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.main-contacts-cont .pdf-link:hover {
  text-decoration: underline;
}

.iframe-cont iframe {
  width: 100%;
  border: 0 !important;
  outline: 0 !important;
}

.uslugi-main-cont .uslugi-main-item .uslugi-main-img-container {
  width: 100%;
  height: 300px;
}

.uslugi-main-cont .uslugi-main-item .uslugi-main-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.uslugi-main-cont .uslugi-main-item .uslugi-main-line-container {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #b12025;
  border-radius: 15px;
}

.modal-header,
.form-modal,
.modal-footer {
  border: 0 !important;
}

.modal-footer .btn-primary {
  background-color: #b12025;
  border: 0 !important;
}

.modal-footer .btn-primary:hover {
  opacity: 0.8;
  background-color: #c7c7c7;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.form-grup {
  background: transparent;
  height: 1px;
  overflow: hidden;
}

.form-grup input {
  background: transparent;
  border: 0 !important;
  outline: 0 !important;
}

.form-grup input:focus {
  border-color: #b12025;
}

.form-text a {
  color: #b12025;
}

.form-group .form-msg-txt {
  opacity: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #b12025;
  background: transparent;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  outline: none !important;
}

.index-form-container {
  background-color: rgba(255, 255, 255, 0.8);
}

.form-area input {
  width: auto;
  background: transparent;
  border: 0 !important;
  outline: 0 !important;
  text-align: center;
}

#modalForm .btn-primary {
  background-color: #b12025 !important;
  border: 0 !important;
}

#modalForm label {
  color: #b12025;
}

#modalForm small a {
  color: #b12025;
}

#modal-answer .btn-secondary {
  background-color: #b12025;
}

/* search */
@media screen and (min-width: 768px) {
  #formSearchContainer {
    display: none;
  }
}

#formSearchContainer input::-webkit-search-decoration,
#formSearchContainer input::-webkit-search-cancel-button,
#formSearchContainer input::-webkit-search-results-button,
#formSearchContainer input::-webkit-search-results-decoration {
  display: none;
}

#formSearchContainer input[type='search'] {
  border: 1px solid #b12025 !important;
}

#formSearchContainer .btn-outline-secondary {
  border: 1px solid #b12025 !important;
  color: #b12025;
}

#formSearchContainer .btn-outline-secondary:hover {
  background-color: #b12025;
  color: #fff;
}

#search-ajax-results-wrap,
#search-ajax-results-wrap-address {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
}

#search-ajax-results-wrap a,
#search-ajax-results-wrap-address a {
  color: #b12025;
}

/* filter */
.filter-wrapper {
  background-color: rgba(212, 195, 191, 0.8);
}

#mainFilter {
  font-family: "roboto-regular", "Arial", sans-serif;
}

#mainFilter .filter-bun-cont label {
  cursor: pointer;
  color: #967168;
}

#mainFilter .filter-bun-cont label:hover {
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

#mainFilter .filter-bun-cont .btn-group-toggle input[type=radio] {
  display: none;
}

#mainFilter .filter-bun-cont .btn-group-toggle input[type=radio]:checked + label {
  background-color: #967168;
  color: #fff;
}

#mainFilter .filter-bun-cont .btn-secondary {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  font-size: .8rem;
  border: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  /*  &:not(:disabled):not(.disabled).focus {
                background-color: $color6;
                color: $color2;
            } */
}

@media screen and (min-width: 768px) {
  #mainFilter .filter-bun-cont .btn-secondary {
    width: 200px;
    height: 50px;
    font-size: 1rem;
  }
}

#mainFilter label {
  color: #5f2619;
}

#mainFilter input {
  color: #b12025;
}

#mainFilter input:focus {
  border-color: #b12025;
  color: #b12025;
}

#mainFilter .more-filters,
#mainFilter #filterReset {
  color: #5f2619;
  text-decoration: none;
}

#mainFilter .more-filters:hover,
#mainFilter #filterReset:hover {
  color: #5f2619;
  text-decoration: underline;
}

#mainFilter .sortby-cont span {
  color: #5f2619;
}

#mainFilter .sortby-cont label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
}

#mainFilter .sortby-cont .wrapper {
  width: 500px;
  margin: 50px auto;
}

#mainFilter .sortby-cont input[type=radio],
#mainFilter .sortby-cont input[type=checkbox] {
  display: none;
}

#mainFilter .sortby-cont label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #fff;
}

#mainFilter .sortby-cont .form-check-inline label {
  margin-bottom: 10px;
}

#mainFilter .sortby-cont .form-check-inline label:before {
  border-radius: 3px;
}

#mainFilter .sortby-cont input[type=radio]:checked + label:before {
  content: "\2022";
  color: #5f2619;
  text-align: center;
  font-size: 1rem;
}

#mainFilter .sortby-cont input[type=radio]:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #5f2619;
  text-align: center;
  font-size: 1rem;
}

#mainFilter #targetLink {
  border-color: transparent;
  border-bottom-color: #c7c7c7;
  background-color: transparent !important;
}

#mainFilter #copyLink {
  border: 0 !important;
  outline: 0 !important;
  width: 40px;
  background-color: transparent;
  background-image: url("../img/download.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px auto;
}

.select2-container .select2-selection--single {
  padding-top: 4px;
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 5px;
  right: 1px;
  width: 20px;
}

.form-select-object {
  display: -ms-grid;
  display: grid;
}

.form-select-object .check {
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.form-select-object .check:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.form-select-object .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #C8CCD4;
  stroke-width: 1.5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.form-select-object .check path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.form-select-object .check polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.form-select-object .check:hover:before {
  opacity: 1;
}

.form-select-object .check:hover svg {
  stroke: #4285F4;
}

.form-select-object .cbx:checked + .check svg {
  stroke: #4285F4;
}

.form-select-object .cbx:checked + .check path {
  stroke-dashoffset: 60;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.form-select-object .cbx:checked + .check polyline {
  stroke-dashoffset: 42;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

/* search */
.simplesearch-result a {
  color: #b12025;
}

/* articles */
.article-page-cont .article-page-caption {
  color: #b12025;
}

.article-page-cont .article-img-cont {
  max-height: 300px;
}

/* pagination */
.pagination-cont {
  background-color: #d4c3bf;
}

nav[aria-label="pagination"] {
  border: 0 !important;
}

nav[aria-label="pagination"] #pagination {
  border: 0 !important;
  margin-bottom: 0 !important;
}

nav[aria-label="pagination"] #pagination li {
  border: 0 !important;
}

nav[aria-label="pagination"] #pagination li a {
  font-family: "roboto-regular", "Arial", sans-serif;
  background-color: transparent;
  color: #000;
  border: 0 !important;
}

nav[aria-label="pagination"] #pagination li a .previous svg,
nav[aria-label="pagination"] #pagination li a .next svg {
  width: 20px;
  height: 20px;
  fill: rgba(177, 32, 37, 0.6);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

nav[aria-label="pagination"] #pagination li a .previous svg:hover,
nav[aria-label="pagination"] #pagination li a .next svg:hover {
  fill: #b12025;
}

nav[aria-label="pagination"] #pagination li a .next svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

nav[aria-label="pagination"] #pagination:first-child a, nav[aria-label="pagination"] #pagination:last-child a {
  color: #b12025;
}

nav[aria-label="pagination"] #pagination .active a {
  background-color: transparent !important;
  color: #b12025;
  text-decoration: underline;
}

/* catalog */
.main-catalog-wrapper .pagination {
  display: none;
}

.main-catalog-cont {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.main-catalog-cont:hover {
  background-color: rgba(212, 195, 191, 0.5);
}

.main-content-cont {
  font-size: 1.2rem;
}

.main-content-cont p {
  margin-bottom: 0;
}

.catalog-banners-cont {
  height: 300px;
}

.catalog-banners-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* .catalog-banners-link {
    width: 100%;
    height: 100%;
   background-image: url('../img/ISMA_500.png');
   background-size: cover;
} */
.catalog-phone-cont svg {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.catalog-phone-cont a {
  text-decoration: none;
  color: #000;
}

.catalog-phone-cont a:hover {
  text-decoration: none;
  color: #b12025;
}

.catalog-slider-docs {
  height: 200px;
  /* img {
        height: 100% !important;
        width: auto;
    } */
}

.catalog-slider-docs .slick-slider,
.catalog-slider-docs .slick-list,
.catalog-slider-docs .slick-track {
  height: 100%;
}

.exclusive-cont {
  outline: 2px solid #5f2619;
  outline-offset: -5px;
}

@media screen and (min-width: 768px) {
  .exclusive-cont {
    outline: 0;
    border: 2px solid #5f2619;
  }
}

/* video */
.object-video-cont a {
  color: #b12025;
}

.object-video-cont svg {
  width: 40px;
  height: 40px;
}

.object-video-cont svg path {
  fill: #b12025;
}

/* lot */
.bread-crumbs-cont a {
  text-decoration: none;
  color: #000;
  font-size: .9rem;
}

.bread-crumbs-cont a:hover {
  text-decoration: underline;
}

.eye-cont .eye-ico {
  width: 40px;
  height: 40px;
  background-image: url("../img/eye.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.eye-cont .eye-count {
  font-weight: 600;
}

.object-action-cont .catalog-price {
  color: #b12025;
}

.object-action-cont .catalog-phone-cont a {
  color: #5f2619;
}

.object-action-cont .catalog-phone-cont a:hover {
  text-decoration: underline;
}

.head-param-cont .caption {
  padding: 0 0 15px 0;
}

.params-caption {
  color: #b12025;
}

.param-value,
.params-text {
  font-weight: 500;
}

.rieltor-info-main-cont .rieltor-img-cont {
  width: 250px;
  height: 300px;
}

.rieltor-info-main-cont .rieltor-img-cont img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog-phone-cont a {
  color: #5f2619;
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .catalog-phone-cont a {
    font-size: 1.7rem;
  }
}

.catalog-phone-cont a svg path {
  fill: #5f2619;
}

/* about kompany */
@media screen and (min-width: 1200px) {
  .rieltorLicenseSlider {
    width: 100%;
    max-height: 500px;
    overflow-y: hidden;
  }
  .rieltorLicenseSlider .catalog-banners-cont {
    width: 100%;
    height: 250px;
  }
  .rieltorLicenseSlider .catalog-banners-cont img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-blend-mode: color;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

@media screen and (min-width: 992px) {
  .footer {
    background-size: cover;
    background-attachment: fixed;
  }
}

.footer ul li a:hover {
  text-decoration: none;
  opacity: .7;
}

.footer-contacts-cont a {
  position: relative;
  color: #fff;
}

.footer-contacts-cont a:hover {
  color: #b12025;
  opacity: .8;
}

.footer-contacts-cont a:hover svg {
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.footer-contacts-cont a:hover svg path {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #b12025;
}

.footer-contacts-cont a svg {
  width: 15px;
  height: 15px;
}

.footer-contacts-cont a svg path {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #fff;
}

.social-cont:hover #vk {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #008fe2;
}

.social-cont:hover #insta path {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: url(#Instagram_2_);
}

.social-cont:hover #ok {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #f58d3a;
}

.social-cont:hover #facebook {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #4267B2;
}

.social-cont:hover #youtube {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #ff3300;
}

.social-cont:hover #twitter {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  fill: #00d8ff;
}

.social-cont svg {
  width: 30px;
  height: 30px;
  fill: #fff;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

/* .slick-center {
    height: 300px;
    box-shadow: 0px 0px 10px rgba($color: $color1, $alpha: .6);
    z-index: 20;
}

.slick-track {
    display: flex;
    align-items: center;
} */
/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 70px;
  width: 70px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 45%;
  border: none;
  outline: none;
  z-index: 3;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.slick-prev svg,
.slick-next svg {
  width: 100%;
  height: 100%;
  fill: rgba(177, 32, 37, 0.6);
  -webkit-transition: .5s linear;
  transition: .5s linear;
}

.slick-prev svg:hover,
.slick-next svg:hover {
  fill: #b12025;
}

.slick-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  opacity: 1;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0;
}

@media screen and (min-width: 768px) {
  .slick-prev {
    left: -40px;
  }
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: 0;
}

.slick-next {
  right: 0;
}

@media screen and (min-width: 768px) {
  .slick-next {
    right: -40px;
  }
}

[dir="rtl"] .slick-next {
  left: 0;
  right: auto;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  font-size: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #b12025;
  padding: 5px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots .slick-active button {
  border: 1px solid #b12025;
  background-color: #b12025;
}

/* indexBanners */
#indexBannerSlider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  margin: 0 auto;
  margin-top: -40px;
  margin-bottom: 40px;
  list-style: none;
  text-align: center;
  z-index: 50;
}

@media screen and (min-width: 768px) {
  #indexBannerSlider .slick-dots {
    max-width: 85% !important;
  }
}

#indexBannerSlider .slick-dots li button {
  background-color: #fff;
}

#indexBannerSlider .slick-dots .slick-active button {
  border: 1px solid #b12025;
  background-color: #b12025;
}

/* catalogSlider */
.catalog-slider {
  position: relative;
}

.catalog-slider.slick-dotted.slick-slider {
  margin-bottom: 0px !important;
}

.catalog-slider .slick-prev,
.catalog-slider .slick-next {
  height: 40px;
  width: 40px;
}

.catalog-slider .slick-prev {
  left: 0;
}

@media screen and (min-width: 768px) {
  .catalog-slider .slick-prev {
    left: 0;
  }
}

.catalog-slider .slick-next {
  right: 0;
}

@media screen and (min-width: 768px) {
  .catalog-slider .slick-next {
    right: 0px;
  }
}

.catalog-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  bottom: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 50;
}

.catalog-slider .slick-dots li button {
  width: 5px;
  height: 5px;
  -webkit-box-shadow: 0px 0px 3px white;
          box-shadow: 0px 0px 3px white;
}

/* rieltors */
@media screen and (min-width: 1200px) {
  .rieltorLicenseSlider .slick-prev,
  .rieltorLicenseSlider .slick-next {
    left: 40% !important;
  }
}

@media screen and (min-width: 1200px) {
  .rieltorLicenseSlider .slick-prev {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
    bottom: 0 !important;
    top: auto;
  }
}

@media screen and (min-width: 1200px) {
  .rieltorLicenseSlider .slick-next {
    -webkit-transform: rotate(-180deg) !important;
            transform: rotate(-180deg) !important;
    top: 0 !important;
    bottom: auto;
  }
}

/* keyframes */
@-webkit-keyframes fixed-menu-animate {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
@keyframes fixed-menu-animate {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}

@-webkit-keyframes insta {
  50% {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    -webkit-box-shadow: 0 -200px 100px -100px #dc2743 inset;
            box-shadow: 0 -200px 100px -100px #dc2743 inset;
  }
}

@keyframes insta {
  50% {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    -webkit-box-shadow: 0 -200px 100px -100px #dc2743 inset;
            box-shadow: 0 -200px 100px -100px #dc2743 inset;
  }
}

@-webkit-keyframes scale-close {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes scale-close {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}
/*# sourceMappingURL=style.css.map */