{# _layout.html #}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ block('title')}}</title>
    <link rel="stylesheet" href="D://Files/Learning/WEB/Freelance/geforceTemplate/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="D://Files/Learning/WEB/Freelance/geforceTemplate/css/jQueryUI.css" />
    <link rel="stylesheet" href="D://Files/Learning/WEB/Freelance/geforceTemplate/css/tiny-slider.css">
    <link rel="stylesheet" href="/css/style.css" />
    {% block styles %}{% endblock %}
  </head>
  <body>
    {% include 'components/header.html' %}
    {% block page %}{% endblock %}
    {% include 'components/footer.html' %}
    <script src="D://Files/Learning/WEB/Freelance/geforceTemplate/js/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="D://Files/Learning/WEB/Freelance/geforceTemplate/js/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="D://Files/Learning/WEB/Freelance/geforceTemplate/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="D://Files/Learning/WEB/Freelance/geforceTemplate/js/tiny-slider.js"></script>
    <script src="/js/main.mini.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
