{# _layout.html #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{{ block('title')}}</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
    {% block styles %}{% endblock %}
</head>
<body>
{% include 'components/header.html' %}

{% if block('title') %}
{% include 'components/breadcrumbs.html' with { 'pageName': block('title'), 'pagePseudonym': block('pseudonym'),
'pageDescription': block('description')}%}
{% endif %}

{% block page %}{% endblock %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="./js/main.mini.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
