<div class="catalogPage pageStyle">
    <div class="catalogCont cont">
        <div class="catalogContainerSmall">
            <div class="catalogSmallColumn">
                <div class="catalogListHeader">
                    <svg>
                        <use xlink:href="/img/sprite.svg#filter"></use>
                    </svg>
                    <p> Фильтр </p>
                    <div class="close"></div>
                </div>
                <div class="catalogListContainer">
                    <div>
                        <h3 class="f4">Бренд</h3>
                        <ul class="f5 catalogList">
                            <li>Shakira</li>
                            <li>Adarisa</li>
                            <li>Afnan</li>
                            <li>Ahjaar</li>
                            <li>WIDIAN AJ Arabia</li>
                            <li>Ajmal</li>
                            <li>Ajyad</li>
                            <li>Al Atarji</li>
                            <li>Al Attaar</li>
                            <li>Al Halal Perfumes</li>
                            <li>Al Hamatt</li>
                            <li>Al Haramain Perfumes</li>
                            <li>Al Jazeera Perfumes</li>
                            <li>Al Marjaan</li>
                            <li>Al-Rehab</li>
                            <li>Amorino</li>
                            <li>Amouage</li>
                            <li>Oudh Al Anfar</li>
                            <li>Arabesque Perfumes</li>
                            <li>Arabian Oud</li>
                        </ul>
                        <h3 class="f4">Пол</h3>
                        <ul class="f5 catalogList">
                            <li>Для мужчин</li>
                            <li>Для женщин</li>
                            <li>Унисекс</li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="f4">Группы</h3>
                        <ul class="f5 catalogList">
                            <li>Фужерные</li>
                            <li>Древесные</li>
                            <li>Фруктовые</li>
                            <li>Цветочные</li>
                            <li>Мускусные</li>
                            <li>Пряные</li>
                            <li>Водные</li>
                            <li>Восточные</li>
                            <li>Цитрусовые</li>
                            <li>Свежие</li>
                            <li>Сладкие</li>
                            <li>Зелёные</li>
                            <li>Ванильные</li>
                            <li>Шипровые</li>
                            <li>Кожаные</li>
                            <li>Гурманские</li>
                            <li>Альдегидные</li>
                        </ul>
                        <h3 class="f4">Верхние ноты</h3>
                        <ul class="f5 catalogList">
                            <li>Лист фиалки</li>
                            <li>Грейпфрут</li>
                            <li>Шалфей</li>
                            <li>Мандарин</li>
                            <li>Ландыш</li>
                            <li>Цитрусы</li>
                            <li>Дыня</li>
                            <li>Лимон</li>
                            <li>Бергамот</li>
                            <li>Слива</li>
                            <li>Розовый перец</li>
                            <li>Нектарин</li>
                            <li>Юдзу</li>
                            <li>Черная смородина</li>
                            <li>Мускатный орех</li>
                            <li>Кардамон</li>
                            <li>Апельсин</li>
                            <li>Базилик</li>
                            <li>Мята</li>
                            <li>Лаванда</li>
                            <a class="f5">Показать все</a>
                            <svg>
                                <use xlink:href="/img/sprite.svg#plus"></use>
                            </svg>
                        </ul>
                    </div>
                    <div>
                        </ul>
                        <h3 class="f4">Средние ноты</h3>
                        <ul class="f5 catalogList">
                            <li>Маракуйя</li>
                            <li>Имбирь</li>
                            <li>Гуава</li>
                            <li>Персик</li>
                            <li>Жасмин</li>
                            <li>Личи</li>
                            <li>Роза</li>
                            <li>Фиалка</li>
                            <li>Корица</li>
                            <li>Белый кедр</li>
                            <li>Камелия</li>
                            <li>Мимоза</li>
                            <li>Пион</li>
                            <li>Магнолия</li>
                            <li>Иланг-иланг</li>
                            <li>Апельсин</li>
                            <li>Перец</li>
                            <li>Герань</li>
                            <li>Фруктовые ноты</li>
                            <li>Зеленые ноты</li>
                            <a class="f5">Показать все</a>
                            <svg>
                                <use xlink:href="/img/sprite.svg#plus"></use>
                            </svg>
                        </ul>
                        <h3 class="f4">Базовые ноты</h3>
                        <ul class="f5 catalogList">
                            <li>Амбра</li>
                            <li>Сандал</li>
                            <li>Белый кедр</li>
                            <li>Ветивер</li>
                            <li>Ваниль</li>
                            <li>Гваяковое дерево</li>
                            <li>Кипарис</li>
                            <li>Пачули</li>
                            <li>Мускус</li>
                            <li>Бархатцы</li>
                            <li>Специи</li>
                            <li>Ладан</li>
                            <li>Кожа</li>
                            <li>Дубовый мох</li>
                            <li>Древесные ноты</li>
                            <li>Кедр</li>
                            <li>Белый мускус</li>
                            <li>Замша</li>
                            <li>Бобы тонка</li>
                            <li>Мох</li>
                            <a class="f5">Показать все</a>
                            <svg>
                                <use xlink:href="/img/sprite.svg#plus"></use>
                            </svg>
                        </ul>
                    </div>
                </div>
                <div class="catalogButtons">
                    <button class="button f5">Применить</button>
                    <button class="button f5 buttonClean">Очистить</button>
                </div>
            </div>
            <div class="catalogBlock"></div>
        </div>
        <div class="catalogBigColumn">
            <div class="catalogHeader">
                <h2 class="f2">Женская парфюмерия</h2>
                <button
                        id="catalogFilterButton"
                        class="button f5 iconButton catalogFilterButton"
                >
          <span class="iconBlock">
            <svg>
              <use xlink:href="/img/sprite.svg#filter"></use>
            </svg>
          </span>
                    <span class="textBlock nameButtonCatalog">Настроить фильтр</span>
                </button>
            </div>
            <div class="catalogContent">
                {% for item in dataProductCards %} {% include
                '/components/catalogCard.html' %} {% endfor %}
            </div>
            <div class="catalogPagination">
                <div class="circle">
                    <svg>
                        <use xlink:href="/img/sprite.svg#arrowLeftRight"></use>
                    </svg>
                </div>
                <div class="numbers">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>...</p>
                    <p>12</p>
                </div>
                <div class="circle">
                    <svg>
                        <use xlink:href="/img/sprite.svg#arrowLeftRight"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="bannerClaims withSubscription">
        <div class="bannerClaimsImg">
            <img src="/img/refund/bannerClaims.png" alt="claims">
        </div>
        <div class="bannerClaimsText cont">
            <div class="bannerClaimsContent">
                <form action="" class="form">
                    <h2>Подпишитесь на рассылку скидок</h2>
                    <div class="inputBlock">
                        <label for="emailInput">Email</label>
                        <input class="input" type="text" id="emailInput" placeholder="Введите ваш email">
                    </div>
                    <p class="attention">Нажимая на кнопку «Отправить», я даю согласие на обработку <a href="">персональных
                        данных</a></p>
                    <button class="button f5">
                        Подписаться
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
