<div class="productPage pageStyle">
    <div class="cont">
        <div class="productWrapper">
            <div class="productImgSlider">
                <div class="productImgSliderPreviewWrapper">
                    <div class="productImgSliderPreview">
                        <img src="/img/product/productSliderImg1.png" alt="">
                    </div>
                    <div class="productImgSliderPreview">
                        <img src="/img/product/productSliderImg2.png" alt="">
                    </div>
                </div>
                <div class="productImgSliderView">
                    <img src="/img/product/productSliderImg3.png" alt="">
                </div>
            </div>
            <div class="productDesc productDescTitle">
                <h2 class="f2">Парфюмерная вода Acca Kappa Ode</h2>
                <p class="originLabel">100% оригинал</p>
            </div>
            <div class="productDesc">
                <div class="productParams">
                    <table>
                        <tr>
                            <td>Объем</td>
                            <td>100 мл</td>
                        </tr>
                        <tr>
                            <td>Бренд</td>
                            <td>Acca Kappa</td>
                        </tr>
                        <tr>
                            <td>Пол</td>
                            <td>Унисекс</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>Группы</td>
                            <td>Пряные, Восточные</td>
                        </tr>
                        <tr>
                            <td>Ноты</td>
                            <td>Роза, Имбирь, Шафран, Уд</td>
                        </tr>
                        <tr>
                            <td>Год создания</td>
                            <td>2016</td>
                        </tr>
                    </table>
                </div>
                <div class="productCostList">
                    <div class="productCost">
                        <p>
                            <svg>
                                <use xlink:href="/img/sprite.svg#check"></use>
                            </svg>
                            Тестер
                        </p>
                        <div class="separator"></div>
                        <h3><span>8 669 Р</span>5 669 Р</h3>
                    </div>
                    <div class="productCost active">
                        <p>
                            <svg>
                                <use xlink:href="/img/sprite.svg#check"></use>
                            </svg>
                            50 мл
                        </p>
                        <div class="separator"></div>
                        <h3><span>12 669 Р</span>8 669 Р</h3>
                    </div>
                    <div class="productCost">
                        <p>
                            <svg>
                                <use xlink:href="/img/sprite.svg#check"></use>
                            </svg>
                            100 мл
                        </p>
                        <div class="separator"></div>
                        <h3><span>20 669 Р</span>14 669 Р</h3>
                    </div>
                </div>
            </div>
            <div class="productDesc productBy">
                <div class="productBuyWrapper">
                    <div class="costAndInputCounter">
                        <p>8 669 Р</p>
                        <div class="inputCounter">
                            <button>-</button>
                            <input type="number" min="1" value="1">
                            <button>+</button>
                        </div>
                    </div>
                    <button class="button f5 iconButton">
                        <span class="iconBlock">
                          <svg>
                            <use xlink:href="/img/sprite.svg#basket"></use>
                          </svg>
                        </span>
                        <span class="textBlock"> Купить </span>
                    </button>
                </div>
                <a href="#">Почему у нас выгоднее цены?</a>
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="productFullDescription">
            <div class="f2">Описание товара</div>
            <p>
                Краткое описание товара 2-3 строчки описание в 2-3 строчки Краткое описание товара 2-3 строчки описание
                в 2-3 строчки Краткое описание товара 2-3 строчки описание в 2-3 строчки и краткое описание товара 2-3
                строчки описание в 2-3 строчки
            </p>
        </div>
    </div>
    <div class="reviewsSlider">
        <div class="cont">
            {% include '/components/reviews.html' with {
            'elementClassName': "reviewsSliderProductPage",
            'gliderTitle': "<span>Отзывы</span> о товаре",
            } %}
        </div>
    </div>
    <div class="cont">
        {% include '/components/productCard.html' with {
        'elementClassName': "mightBeInteresting",
        'gliderTitle': "Может быть интересно",
        'buttonName': "Смотреть всё",
        } %}
    </div>
    <div class="cont">
        {% include '/components/productCard.html' with {
        'elementClassName': "previouslyYouWatched",
        'gliderTitle': "Ранее вы смотрели",
        'buttonName': "Смотреть всё",
        } %}
    </div>
</div>
