<div class="refundPage pageStyle cont">
    <div class="bannerGradientContainer">
        <div class="bannerGradient">
            <div class="bannerText">
                <div class="mainTextBanner">
                    <h1 class="f2 mainTextHead">Политика возврата</h1>
                    <p class="f5 mainTextParagraph">Все претензии рассматриваются в письменном виде в течение 1-2-х
                        рабочих дней.(Желательно
                        приложить фото товара!)</p>
                </div>
                <div class="amountOfDays">
                    <p class="amountOfDaysHead">14 дней</p>
                    <p class="f5 amountOfDaysText">Возврат/обмен товаров возможен в течении 14 дней с момента получения
                        заказа!</p>
                </div>
            </div>
        </div>
        <div class="bannerImg">
            <img src="/img/refund/refundBannerImg.jpg" alt="refundBanner">
        </div>
    </div>
    <div class="returnCards">
        <h2 class="f2 returnCardsHead">Возврат товара надлежащего качества</h2>
        <div class="returnOfQualityGoods">
            {% for item in possibilityData %}
            {% include 'components/possibilityCard.html' with {'name': item.name, 'description': item.description, 'addition':
            item.addition, 'color': item.color, 'background': item.background, 'img': item.img} %}
            {% endfor %}
        </div>
        <h2 class="f2 returnCardsHead">Возврат товара с заводским браком</h2>
        <div class="returnOfQualityDefects">
            {% for item in possibilityData %}
            {% include 'components/possibilityCard.html' with {'name': item.name, 'description': item.description, 'addition':
            item.addition, 'color': item.color, 'background': item.background, 'img': item.img} %}
            {% endfor %}
        </div>
    </div>
    <div class="bannerClaims">
        <div class="bannerClaimsImg">
            <img src="/img/refund/bannerClaims.png" alt="claims">
        </div>
        <div class="bannerClaimsText">
            <div class="bannerClaimsContent">
                <h2 class="f2 bannerClaimsHeader"> Претензии </h2>
                <p class="f4 bannerClaimsMainText">Направить нам претензию Вы можете на почту</p>
                <p class="f3 bannerClaimsMail">Vozvrat-Flakkon@bk.ru</p>
                <p class="f5 bannerClaimsAdditionalText">*В теме письма укажите "Запрос на возврат/обмен товара"</p>
            </div>
        </div>
    </div>
</div> 