{%
    include '../modalWindow.html' with {
        'id': 'callBackModal',
        'content': '
            <h2>Обратный звонок</h2>
            <form>
                <div class="inputBlock modalInputWrapper">
                    <label for="callBackName">Имя</label>
                    <input class="input" type="text" id="callBackName" placeholder="Введите имя">
                </div>
                <div class="inputBlock modalInputWrapper">
                    <label for="callbackPhone">Телефон</label>
                    <input class="input" type="password" id="callbackPhone">
                </div>
                <div style="width: 100%">
                    <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Le-wvkSAAAAAPBMRTvw0Q4Muexq9bi0DJwx_mJ-&amp;co=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbTo0NDM.&amp;hl=ru&amp;v=48TunWH-ZrLteSwFVbw6tVnx&amp;size=normal&amp;cb=yr0ol4u2kz4" height="78"  frameborder="0" scrolling="no"></iframe>
                    <div class="checkbox modalInputWrapper">
                        <input type="checkbox" id="callAgreeCheck" name="rememberMe">
                        <label for="callAgreeCheck" style="font-size: 14px; width: 100%">
                            Нажимая на кнопку «Отправить», я даю согласие на обработку
                            <p style="display: inline"><a href="#" style="font-size: 14px;">персональных данных</a></p>
                        </label>
                    </div>
                </div>
                <button class="button">Заказать звонок</button>
            </form>
        '
    }
%}
