{%
    include '../modalWindow.html' with {
        'id': 'registrationModal',
        'content': '
            <h2>Регистрация</h2>
            <form>
                <div class="inputBlock modalInputWrapper">
                    <label for="authInputName">Имя</label>
                    <input class="input" type="text" id="authInputName" placeholder="Введите ваше имя">
                </div>
                <div class="inputBlock modalInputWrapper">
                    <label for="regInputEmail">Email</label>
                    <input class="input" type="text" id="regInputEmail" placeholder="Введите почту">
                </div>
                <div class="inputBlock modalInputWrapper">
                    <label for="regInputPassword">Пароль</label>
                    <input class="input" type="password" id="regInputPassword" placeholder="Введите пароль">
                </div>
                <div class="inputBlock modalInputWrapper">
                    <label for="regInputPassword2">Пароль</label>
                    <input class="input" type="password" id="regInputPassword2" placeholder="Подтвердите пароль">
                </div>
                <button class="button">Создать аккаунт</button>
                <p>
                    Уже есть аккаунт?
                    <a href="#">Войдите</a>
                </p>
            </form>
        '
    }
%}
