<div class="tabletMenuModal">
    <div class="tabletMenuModalBlock cont">
        <div class="header">
            <div class="cont">
                <button class="button f5 iconEqual">
                    <span class="iconBlock">
                        <svg>
                            <use xlink:href="/img/sprite.svg#basket"></use>
                        </svg>
                    </span>
                    <span class="textBlock">2</span>
                </button>
                <div class="dropdownComp userDropdown">
                    <div class="newDrop">
                        <svg class="profile">
                            <use xlink:href="/img/sprite.svg#profile"></use>
                        </svg>
                        <div class="userInfo">
                            <span>Иван Иванов</span>
                        </div>
                        <svg class="arrow">
                            <use xlink:href="/img/sprite.svg#arrowDown"></use>
                        </svg>
                    </div>
                    <div class="dropList">
                        <label>
                            <a href="profile.html">Мой профиль</a>
                        </label>
                        <label>
                            <a href="orders.html">Мои заказы</a>
                        </label>
                        <label>
                            <button>Выход</button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <menu class="additionalMenu">
            <li>
                <a href="#">Компания</a>
                <ul>
                    <li><a href="../../delivery.html">Доставка и оплата</a></li>
                    <li><a href="../../contacts.html">Контакты</a></li>
                    <li><a href="../../aboutUs.html">О нас</a></li>
                    <li><a href="../../refund.html">Политика возврата</a></li>
                    <li><a href="#">Защита данных</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <p>&nbsp;</p>
                    <li><a href="#">Как оформить заказ</a></li>
                    <li><a href="#">Вопросы-ответы</a></li>
                    <li><a href="#">Бесконтактная доставка</a></li>
                    <li><a href="#">Подарок за отзывы</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Магазин</a>
                <ul>
                    <li><a href="../../basket.html">Корзина</a></li>
                    <li><a href="../../profile.html">Личный кабинет</a></li>
                    <li><a href="#">Оформить заказ</a></li>
                </ul>
            </li>
            <li>
                <a href="../../catalog.html">Каталог</a>
                <ul>
                    <li><a href="#">Мужская парфюмерия</a></li>
                    <li><a href="#">Женская парфюмерия</a></li>
                    <li><a href="#">Новинки парфюмерии</a></li>
                    <li><a href="#">Популярные ароматы</a></li>
                </ul>
            </li>
            <li>
                <a href="../../aboutUs.html">О компании</a>
                <ul>
                    <li>ИП Сушина</li>
                    <li>ИНН 166112400351</li>
                    <li>ОГРН 319505000042811</li>
                    <li>© 2020</li>
                </ul>
            </li>
            <li class="captionLi">
                <ul>
                    <li>
                        <p class="mainCaption">8 (985) 231-03-68</p>
                        <p class="additionalCaption">Звонок бесплатный</p>
                    </li>
                    <li>
                        <p class="mainCaption">пн-пт 10:00-18:00</p>
                        <p class="additionalCaption">Режим работы</p>
                    </li>
                </ul>
            </li>
            <li class="forSearchLi">
                <div class="headerSearch">
                    <label class="searchBlock pink" for="headerSearch2">
                        <input class="input search" type="text" placeholder="Поиск" id="headerSearch2">
                        <svg>
                            <use xlink:href="/img/sprite.svg#search"></use>
                        </svg>
                    </label>
                </div>
            </li>
        </menu>
    </div>
</div>